@import 'core';

.aboutpage {

    // fix layout
    .layout__container {
        width: 74.666666%;
        max-width: 60rem;
    }
    .layout__side_right {
        width: 13%;
    }


    // Setup typography
    p {
        line-height: (24/16);
    }
    .title {
        font-size: 2.875rem;
        font-weight: normal;
        margin: 0;
    }
    .subtitle {
        font-size: 24px;
        line-height: (28/24);
        z-index: 1;
    }


    // Markers
    .marker-title {
        display: inline-block;
        position: relative;
        z-index: 0;
        &::before{
            content: "";
            width: 15.9375rem;
            min-height: 4.6875rem;
            background: url('../images/aboutpage/marker-title.png') no-repeat center;
            position: absolute;
            left: -0.625rem;
            top:-0.625rem;
            z-index: -1;
        }
    }


    /* -------------------------------
        F I R S T   S E C T I O N
    ---------------------------------- */

    .first-section {
        display: flex;
        padding-bottom: 12.5rem;
        &__figure {
            min-width: 25rem;
            min-height: 25.625rem;            
            display: flex;
            justify-content: center;
            align-items: center;
            position: relative;
            margin-left: -15px;
            .oval-marker {
                position: absolute;
                top:0;
                left:0;
                font-size: 25rem;                
            }
            &-img {
                margin-top: -1.25rem;
                z-index: 1;
            }
        }
        &__right {
            padding-left: 1.5625rem;
        }
        &__content {
            line-height: 1.6;
        }
        &__title {
            font-size: 4.125rem;
            font-weight: normal;
            margin-bottom: 0;
            line-height: 1;
        }

        &__bottom {
            position: relative;
            margin-top: 6.25rem;
            z-index: 0;
            &:before {
                content:"";                
                min-width: 13.125rem;
                min-height: 7.7875rem;
                background: url('../images/aboutpage/round_small.png') no-repeat;
                position: absolute;
                top: 60%;
                left: 10%;
                transform: translate(-50%, -50%);
                z-index: -1;
            }
            &:after {
                content: "";
                min-width: 7.4375rem;
                min-height: 16rem;
                background: url('../images/aboutpage/arrow_1.svg') no-repeat center;
                position: absolute;
                top:0;
                left: 0.625rem;
            }
        }

    }



    /* -------------------------------
        T R U S T   U S
    ---------------------------------- */
    .trust-us {
        display: flex;
        justify-content: space-between;
        padding-top: 4.375rem;
        &__left {
            max-width: 34.0625rem;
        }
        &__right {
            min-width: 25.625rem;
            max-width: 25.625rem;
            //border: 1px solid red;
            margin-right: -4.6875rem;
        }
        &__icons {
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
            position: relative;
            z-index: 0;
            &-item {
                margin: 0 1.875rem 3.125rem;
                cursor: pointer;
                transition: transform 230ms ease;
                &:hover {
                    transform: scale(1.1);
                }               
            }
        }
        &__icon-wrapper {
            background: url('../images/aboutpage/logo_wrapper.png') no-repeat;
            width: 9.0625rem;
            height: 9.875rem;
            position: absolute;
            z-index: -1;
            transition: all 230ms ease;
            //border: 1px solid;
        }
    }



    .audio-backfeed {
        display: flex;
        &__left {
            position: relative;
            max-width: 5rem;
        }
        &__right {
            padding-left: 1.25rem;
        }
        &__play {
            border:2px solid;
            width: 1.9375rem;
            height: 1.9375rem;
            border-radius: 50%;
            position: absolute;
            right: -15px;
            top:0;
            background: #fff url('../images/aboutpage/audio-icon.png') no-repeat center;
        }
        &__content {     
            margin-top: 0.625rem;       
        }
    }



    .tell-technique {
        display: flex;
        padding: 150px 0;
        &__left {
            flex-grow: 1;
            display: flex;
            position: relative;
            justify-content: center;            
            z-index: 0;
            align-items: flex-start;
            &:before {
                content: "";
                min-width: 7.4375rem;
                min-height: 16rem;
                background: url('../images/aboutpage/arrow_1.svg') no-repeat center;
                position: absolute;
                top: -150px;
                left: 250px;
                transform: rotateY(180deg) rotateZ(20deg);
                z-index: -1;
            }
        }
        &__right {
            max-width: 482px;
            p.with_round {  
                position: relative;              
                z-index: 0;
                &:before {
                    content: "";
                    width: 300px;
                    height: 90px;
                    background: url('../images/aboutpage/round_second.png') no-repeat center;
                    position: absolute;
                    top: -14px;
                    left: -20px;                    
                    z-index: -1;
                }
            }
        }
        &__next {
            position: relative;
            z-index: 0;
            margin-top: 60px;
            transform: translateY(120px);
            &:before {
                content: "";
                width: 204px;
                height: 126px;
                background: url('../images/aboutpage/round_small.png') no-repeat;
                position: absolute;
                top: -43px;
                left: -40px;
                transform: rotate(12deg);
                z-index: -1;
            }
            &:after {
                content: "";
                min-width: 7.4375rem;
                min-height: 16rem;
                background: url('../images/aboutpage/arrow_1.svg') no-repeat center;
                position: absolute;
                top: -70px;
                left: 0.625rem;
                transform: rotate(11deg);
            }
        }
    }




    .how-began {
        padding: 150px 0;
    }


    .began-slider {
        &__slide {
            display: flex;     
            &-left {
                flex-grow: 1;
                display: flex;
                align-items: center;
                justify-content: center;
            }       
            &-right {
                max-width: 450px;
                padding-top: 40px;
            }       
        }
        &__title {
            margin-bottom: 10px;
        }
        &__year {
            line-height: 1.4;
        }
        &__content {
            width: 73%;
        }

    }



    .feedback {        
        display: flex;
        position: relative;
        padding: 20px 0 60px;     
        z-index: 0;   
        
        &:before {
            content: "";
            background-color: #f1f1f1;
            opacity: 0.5;
            position: absolute;
            left: -30%;
            top:0;
            width: 120vw;
            height: 100%;
            z-index: -1;
        }
        &__left {
            flex-grow: 1;
            display: flex;
            align-items: center;
            justify-content: center;
            position: relative;
        }
        &__right {
            max-width: 480px;
            flex-grow: 1;
        }

        &__arrow {
            width: 210px;
            height: 154px;
            background: url('../images/aboutpage/arrow_2.svg') no-repeat center;

        }
        &__label {
            position: absolute;
            right: 100%;
            top:50%;
            writing-mode: vertical-rl;
            text-orientation: mixed;
            transform: rotate(180deg) translateY(50%);
            line-height: 2.5;
            padding: 20px 0;            
        }        
    }


    .feedback-form {
        &__header {
            position: relative;
        }
        &__title {
            font-size: 66px;
            font-weight: normal;
            text-align: right;
            line-height: 1;
        }
        &__subtitle {
            position: absolute;
            top: 65%;
            right: 47%;
        }
        &__control {
            width: 100%;
            border-bottom: 2px solid;  
            position: relative;  
            z-index: 0;   
            &_message {
                margin-bottom: 50px
            }     
        }
        &__input {
            width: 100%;
            height: 35px;
            background: transparent;
            border:none;
            outline: 0;
            &::placeholder {
                color:#000;
            }
        }
        &__placeholder {
            position: absolute;
            top: 0;
            line-height: 35px;
            z-index: -1;
        }
        &__btn {
            position: relative;
            z-index: 0;
            text-decoration: none;
            border-bottom: none;
            margin-top: 30px;            
            &-round {
                background: url('../images/aboutpage/btn-round.png');
                width: 132px;
                height: 44px;
                position: absolute;
                z-index: -1;
                left: 50%;
                top:50%;
                transform: translate(-50%, -50%)
            }
            &-text {
                border-bottom: 0.1em dashed;                
            }
        }
    }


}