.audioplayer
{
    position: relative;

    display: flex;

    max-width: 100%;
    height: 3.75rem;


    &__button
    {
        width: 3.5rem;
        height: 3.5rem;
        margin-right: .625rem;

        cursor: pointer;

        border: .125rem solid #000;
        border-radius: 50%;
        background: #fff;

        flex: 0 0 3.5rem;

        .audio-backfeed &
        {
            position: absolute;
            top: -1rem;
            left: -3.2rem;

            transform: scale(.6);
        }

        &_icon
        {
            position: relative;

            width: 2rem;
            height: 2rem;
            margin-top: .6rem;
            margin-left: .9rem;

            transition: 200ms all ease;
            transform: scale(.8);

            border-color: transparent transparent transparent #202020;
        }

        &.play &_icon
        {
            border-width: 1rem 0 1rem 1.6rem;
            border-style: solid;
        }

        &.pause &_icon
        {
            transform: translateX(-.1rem) scale(.8);

            border-width: 0 0 0 1.6rem;
            border-style: double;
        }
    }

    &__timeline
    {
        position: relative;

        width: 100%;
        height: 2rem;
        margin-top: .6rem;

        &:after
        {
            position: absolute;
            top: 0;
            left: 0;

            display: block;

            width: 100%;
            height: 100%;

            content: '';

            background: url('../images/audioplayer/timeline.svg');
            background-position: left center;
            background-size: auto 100%;
        }
    }

    &__playhead
    {
        width: 100%;
        height: 2.2rem;
        margin-top: .06rem;

        transform-origin: left center;

        background: url('../images/audioplayer/playhead.png');
        background-size: 100% 100%;
    }
}
