@import 'core';

*
{
    box-sizing: border-box;
}

html,
body
{
    font-family: 'AvantGardeGothicC', sans-serif;
    font-size: 16px;

    @include respond-from(FHD)
    {
        font-size: 24px;
    };
    @include respond-from(QHD)
    {
        font-size: 32px;
    };
    @include respond-from(UHD)
    {
        font-size: 48px;
    };
}

img,
.icon
{
    display: inline-block;

    max-width: 100%;

    vertical-align: middle;
}

.socals
{
    display: inline-block;

    text-align: center;
    &__item
    {
        display: inline-block;

        margin: 1.4rem .4rem;

        transition: transform .4s;

        &:hover
        {
            transform: scale(1.4);
        }

        .socals.vertical &
        {
            display: block;
        }

        .icon
        {
            font-size: 1rem;
        }
    }
}

.lang
{
    font-family: 'AvantGardeGothicC-bold';

    color: #ccc;
    a
    {
        text-decoration: none;

        color: #000;
    }
}

.back-to-office
{
    font-family: AvantGardeGothicC-Bold;
    font-size: .9rem;

    display: inline-block;

    line-height: 2.2em;
    padding-bottom: 1em;

    text-decoration: none;

    color: #000;
    border-bottom: .15em solid #000;
}
