@import 'core';

.case-detailed
{
    .layout__side_right
    {
        width: 18%;
        cursor: pointer;
    }

    &__warp
    {
        @include respond-from(medium)
        {
            padding-top: 5rem;
        }
    }

    &__stiker
    {
        text-align: center;

        @include respond-from(medium)
        {
            position: fixed;
            top: 50%;
            transform: translateY(-50%);
        }
    }

    .stiker
    {
      font-size: .9rem;

      @include respond-from(medium)
      {
          transform: translateX(-5rem);
      }

      @include respond-from(large)
      {
          transform: translateX(0);
          font-size: 1rem;
      }

      .stiker__link
      {
        display: none;
      }
    }

    &__article
    {

        @include respond-from(medium)
        {
            padding-left: 13rem;
        }

        @include respond-from(large)
        {
            padding-left: 20rem;
        }
    }

    &__next
    {
        position: relative;
        text-align: center;

        @include respond-from(medium)
        {
            position: fixed;
            top: 50%;
            left: 100%;
            transform: translate(-25%, -50%);
        }

        @include respond-from(large)
        {
            transform: translate(-50%, -50%);
        }

        @include respond-to(medium)
        {
            margin-top: 2rem;
            .stiker__title
            {
                display: block;
                opacity: 1;
                text-align: center;
            }
        }

        &_title
        {
            display: none;

            @include respond-to(medium)
            {
                display: block;

                border-top: 0.1rem solid #ccc;

                &-text
                {
                    padding: 1.5rem 0;
                }

                &-img img
                {
                    width: 1rem;
                }
            }
        }

        &_btn
        {
            white-space: nowrap;

            @include respond-to(medium)
            {
                display: none;
            }
            &_text
            {
                display: inline-block;

                padding-right: 1em;

                transition: transform .5s, opacity .5s;
                transform: translateY(5em);

                opacity: 0;

                .layout__side:hover &
                 {
                     transform: translateY(0);

                     opacity: 1;
                 }
            }

            &_icon
            {
                display: inline-block;
            }
        }
    }
}
