@import 'core';

.case-detailed
{

  &__warp
  {
    @include respond-from(medium)
    {
      padding-top: 3.5rem;
    }
  }

  &__stiker
  {
    text-align: center;
    font-size: 0.9rem;
    @include respond-from(medium)
    {
      position: fixed;
      font-size: 1rem;
    }
  }

  &__article
  {
    @include respond-from(medium)
    {
      padding-left: 20rem;
    }
  }

  &__next
  {
    transform: translateX(16rem);

    @include respond-to(medium)
    {
      display: none;
    }

    .stiker
    {
      transform: translateX(-2rem);
    }

    .layout__side:hover &
    {
      .stiker
      {
        transform: translateX(-5rem);
      }
    }
    
    &_btn
    {
       white-space: nowrap;
      &_text
      {
        display: inline-block;
        padding-right: 1em;
        transform: translateY(5em);
        opacity: 0;
        transition: transform 0.5s, opacity 0.5s;
      }

      .layout__side:hover &_text
      {
        transform: translateY(0);
        opacity: 1;
      }

      &_icon
      {
        display: inline-block;
      }
    }

  }
}
