@import 'core';

.homepage
{
    .layout__container
    {
        @include respond-from(medium)
        {
            width: 85%;
            max-width: 82rem;

            .homepage--cases &
            {
                width: 66.66666666%;
                max-width: 53.375rem;
            }
        }
    }

    &__warp
    {
        display: flex;

        @include respond-to(medium)
        {
            flex-direction: row-reverse;

            transition: transform .5s;
            transform: translateX(100%);
            > *
            {
                width: 100%;

                flex: 0 0 100%;
            }
        }
    }

    &__article
    {
        transition: transform 1s 1s, opacity .3s .1s;

        span:before{
            transition: 0.5s 2s;
        }

        .loading & {
            opacity: 0;

            span:before{
                transform: scaleX(0);
            };
        }

        @include respond-from(medium)
        {
            font-size: .8rem;

            flex: 0 0 30%;
        }
        @include respond-from(large)
        {
            font-size: 1rem;
        }

        &__text
        {
            padding-bottom: .2rem;

            @include respond-from(medium)
            {
                font-family: 'AvantGardeGothicC-Bold';

                padding-left: .5rem;
            };
        }

        &__header
        {
            transition: 1s 0.7s;

            .loading & {
                opacity: 0;
            }
        }

        &__text, &__buttons
        {
            transition: 1s 1.5s;

            .loading & {
                opacity: 0;
            }
        }
    }

    &__cases
    {
        position: relative;
        font-size: .7rem;

        padding: 2rem;
        padding-bottom: 0;

        transition: .3s .1s;
        text-align: center;

        .oval-marker
        {
            display: none;
            position: absolute;
            font-size: 35rem;
            top: -4rem;
            left: 4rem;
        }

        @include respond-to(medium)
        {
            transition: opacity .3s .1s;

            opacity: 0;
        }
        @include respond-from(small)
        {
            font-size: 1rem;
        }
        @include respond-from(medium)
        {
            font-size: .6rem;

            padding-left: 0;

            flex: 0 0 70%;
        }
        @include respond-from(large)
        {
            font-size: .75rem;
        }

        &__footer
        {
            display: none;

            text-align: left;

            .homepage--cases &
            {
                display: block;
            }

            &_feedback
            {
                font-size: .75rem;

                display: flex;

                margin-top: 2rem;
                padding: 1rem 2rem;

                border-top: 1px solid #eee;
                background: #fff;

                justify-content: space-between;
                align-items: center;
            }
        }


        &__end
        {
            padding: 4rem 2rem 0 2rem;

            display: none;
            text-align: left;

            .homepage--cases &
            {
                @include respond-from(medium)
                {
                    display: block;
                }
            }
        }
    }

    &__case-item
    {
        display: inline-block;
    }

    &__footer
    {
        display: flex;

        height: 100%;

        .homepage--cases &
        {
            display: none;
        }
    }

    &__footer &__mixed
    {
        width: 65%;
    }

    &__mixed
    {
        display: flex;

        padding: 1rem;

        border-top: 1px solid #eee;
        background: #fff;

        justify-content: center;
        align-items: center;
    }

    &__who-is
    {
        display: flex;

        padding: 1rem 1rem 1rem 3rem;

        text-decoration: none;

        color: #000;

        align-items: center;

         > .image
        {
            display: inline-block;

            width: 3.3rem;
            padding-right: 1rem;
        }

         > span
        {
            display: inline-block;
        }
    }


    &--cases
    {
        @include respond-to(medium)
        {
            .homepage__warp
            {
                transform: translateX(0%);
            }

            .homepage__article
            {
                opacity: 0;
            }

            .homepage__cases
            {
                opacity: 1;

                 > *
                {
                    width: 100%;

                    flex: 0 0 100%;
                }
            }
        }
        @include respond-from(medium)
        {
            .homepage__article
            {
                transform: translateX(50%);

                opacity: 0;
            }

            .homepage__cases
            {
                flex: 0 0 100%;
            }
        }
    }


    .stikers-group
    {
        height: 25rem;
        width: 37rem;
    }

    .stiker
    {
        transform: translate(-999px, -999px) rotate(180deg);
    }

    .stiker__wrap
    {
        transform: rotate(360deg);
    }
}
