@import 'core';

.homepage
{
    .layout__container
    {
        @include respond-from(medium)
        {
            width: 92%;
            max-width: 82rem;

            // outline: 1px solid orange;
        }
    }

    &__warp
    {
        display: flex;

        padding: 2rem 0;

        // outline: 1px solid orange;

        @include respond-to(medium)
        {
            flex-direction: row-reverse;

            transform: translateX(100%);

            transition: transform .5s;
             > *
            {
                width: 100%;

                flex: 0 0 100%;
            }
        }
    }

    &__text
    {
        // outline: 1px solid orange;

        transition: 1s 1s, opacity .3s;

        @include respond-from(medium)
        {
            flex: 0 0 40%;
        }
    }

    &__cases
    {
        padding: 2rem;
        text-align: center;

        // outline: 1px solid orange;
        transition: .3s;

        @include respond-from(medium)
        {
            flex: 0 0 60%;

            font-size: .6rem;
        }
        @include respond-from(large)
        {
            font-size: .75rem;
        }
    }

    &__case-item
    {
        display: inline-block;
    }

    &--cases
    {
        @include respond-to(medium)
        {
            .homepage__warp
            {
                transform: translateX(0%);
            }

            .homepage__text
            {
                opacity: 0;
            }

            .homepage__cases
            {
                transition: transform .3s;
                > *
                {
                    width: 100%;
                    flex: 0 0 100%;
                }
            }
        }

        @include respond-from(medium)
        {

            .homepage__text
            {
                transform: translateX(50%);
                opacity: 0;
            }

            .homepage__cases
            {
                // transform: translateX(50%);
                flex: 0 0 100%;
            }

            .homepage__warp
            {
                // transform: translateX(-50%);
            }

        }
    }
}
