@import 'core';

.marker-fix
{
    position: relative;
    z-index: 1;

    display: inline-block;
}

.marker-1
{
    @include marker-1;
}

.marker-2
{
    @include marker-2;
}

.marker-3
{
    @include marker-3;
}

.marker-4
{
    @include marker-4;
}


.marker-5
{
    @include marker-5;
}
