.stikers-group
{
    // margin: auto;
    font-size: .9rem;

    position: relative;

    display: block;

    min-width: 16em;
    min-height: 16em;

    // background: red;

    // outline: 1px solid red;
    // transition: width 0.5s, height 0.5s;
}

.stiker
{

    position: relative;
    display: inline-block;
    width: 16em;
    height: 16em;
    margin: 1em;

    transition: transform .5s;

    &::hover {
        z-index: 999;
    }

    .stikers-group > &
    {
        position: absolute;
        top: 0;
        left: 0;
    }


    // &:nth-child(6n)
    // {
    //   transform: translate(0, 0);
    // }

    // &:nth-child(6n - 1)
    // {
    //   transform: translate(16em, 0);
    // }

    // &:nth-child(6n - 2)
    // {
    //   transform: translate(32em, 0);
    // }

    // &:nth-child(6n - 3)
    // {
    //   transform: translate(0, 16em);
    // }

    // &:nth-child(6n - 4)
    // {
    //   transform: translate(16em, 16em);
    // }

    // &:nth-child(6n - 5)
    // {
    //   transform: translate(32em, 16em);
    // }

    &__wrap
    {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        transition: transform .5s;
    }

    &__inner
    {
        position: absolute;
        top: -4em;
        left: -4em;

        overflow: hidden;

        width: 24em;
        height: 24em;
    }

    &__outer
    {
        position: absolute;
        top: 0;
        left: 0;

        width: 100%;
        height: 100%;
    }

    &__item
    {
        position: absolute;
        top: 4em;
        left: 4em;

        overflow: hidden;

        width: 16em;
        height: 16em;

        background: linear-gradient(45deg, #fff5ad, #f3e168);
        box-shadow: 0 0 1em rgba(0, 0, 0, .1);
    }

    &__body
    {
        font-size: 2em;

        position: absolute;

        display: flex;

        width: 100%;
        height: 100%;

        align-items: center;
        justify-content: center;
    }

    &__back
    {
        position: absolute;
        top: 4em;
        left: 4em;

        width: 16em;
        height: 16em;

        content: '';
        transform: translate(-24em, 24em);

        background: linear-gradient(45deg, #fff5ad, #dfc850);
        box-shadow: 0 0 .5em rgba(0, 0, 0, .1);
    }

    &__arena
    {
        position: absolute;
        z-index: 99;
        bottom: 0;

        width: 35%;
        height: 35%;

        cursor: pointer;
    }

    &::hover
    {
        z-index: 999 !important;
    }
}
