@import "core";

.stikers-group
{

    font-size: 0.9em;
    position: relative;

    display: inline-block;

    min-width: 16em;
    min-height: 16em;

    // transition: width .3s;

    &__controls
    {
        display: none;
        animation: fadeIn 2s 2s;
        animation-fill-mode: backwards;

        .stikers__slider &
        {
            display: block;
        }
    }

    &__dots
    {
        position: absolute;
        display: flex;
        flex-direction: row-reverse;
        bottom: -2em;
        left: 50%;
        transform: translateX(-50%);

        white-space: nowrap;

        > span
        {
            margin: .3em;
            display: inline-block;
            width: 1em;
            height: 1em;
            background: #000;
            border: 1px solid #000;
            border-radius: 100%;
            transform: scale(.5);

            transition: .5s;

            &.active
            {
                border-color: #979797;
                background: #fff;
                transform: scale(1.2);
            }
        }
    }

    &__prev, &__next
    {
        position: absolute;
        top: 0;
        width: 4em;
        height: 18em;
        // background-color: red;
        cursor: pointer;

        background-size: 2em auto;
        background-position: center;
        background-repeat: no-repeat;
        background-image: url('../images/icons/arrow-left.png');
        @include retina
        {
            background-image: url('../images/icons/arrow-left@2x.png');
        }
    }

    &__prev
    {
        left: -4em;
    }

    &__next
    {
        right: -4em;
        transform: rotate(180deg);
    }
}

.stiker
{

    position: relative;
    display: inline-block;
    width: 16em;
    height: 16em;
    margin: 1em;

    transition: transform .5s;

    .stikers-group > &
    {
        position: absolute;
        top: 0;
        left: 0;
    }

    &__title
    {
        display: none;
        font-size: 1.4em;
        position: absolute;
        bottom: -5em;
        left: 0;
        width: 100%;
        height: 3em;
        opacity: 0;
        text-decoration: none;

        .active &
        {
            opacity: 1;
            animation: fadeIn 2s;
            animation-fill-mode: both;
        }

        .stikers__slider & {
            text-align: center;
            font-size: 1.8em;
        }

        &, & a {
            color: #000;
            text-align: left;
        }
    }

    &__number
    {
        display: inline;
        .stikers__slider &
        {
            display: none;
        }
    }

    &__wrap
    {
        position: absolute;
        top: -1em;
        left: -1em;
        height: 18em;
        width: 18em;
        transition: transform .5s;
        overflow: hidden;
    }

    &__inner
    {
        position: absolute;
        top: -3em;
        left: -3em;

        overflow: hidden;

        width: 24em;
        height: 24em;
    }

    &__outer
    {
        position: absolute;
        top: 0;
        left: 0;

        width: 100%;
        height: 100%;
    }

    &__front
    {
        position: absolute;
        top: 4em;
        left: 4em;

        overflow: hidden;

        width: 16em;
        height: 16em;

        background: linear-gradient(45deg, #fff5ad, #f3e168);
        box-shadow: 0 0 1em rgba(0, 0, 0, .1);

    }

    &__body
    {
        font-size: 2em;

        position: absolute;

        display: flex;

        width: 100%;
        height: 100%;

        align-items: center;
        justify-content: center;

        background-repeat: no-repeat;
        background-position: center center;
        background-size: 95% auto;
    }

    &__link
    {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: block;
    }

    &__back
    {
        position: absolute;
        top: 4em;
        left: 4em;

        width: 16em;
        height: 16em;

        content: '';
        transform: translate(-24em, 24em);

        background: linear-gradient(45deg, #fff5ad, #dfc850);
        box-shadow: 0 0 .5em rgba(0, 0, 0, .1);
    }

    &__arena
    {
        position: absolute;
        z-index: 99;
        bottom: 0;

        width: 35%;
        height: 35%;

        cursor: pointer;

        z-index: 999 !important;
    }
}
