@import 'core';

pre
{
    display: inline-block;
    font-family: monospace;

    overflow: auto;

    background-color: #eee;
    max-width: 100%;
}

code
{
    font-family: monospace;

    padding: .2em;

    color: #fd8008;
    background-color: #eee;
    max-width: 100%;

    display: inline-block;
    overflow: auto;
}


h1,
.h1
{
    font-family: 'AvantGardeGothicC-Bold';
    font-size: 3.5em;
    line-height: 100%;

    color: #000;

    @include respond-to(small)
    {
        font-size: 2.5em;
    }
}

h2,
.h2
{
    font-family: AvantGardeGothicC;
    font-size: 3.2rem;
    color: #000;
    font-weight: 400;
    margin-block-end: 0em;

    @include respond-to(small)
    {
        font-size: 2.5em;
    }

    + p
    {
        margin-block-start: 0em;
    }
}

h3,
.h3
{
    font-family: AvantGardeGothicC;
    font-size: 2rem;
    color: #000;
    font-weight: 400;
    margin-block-end: 0em;

    @include respond-to(small)
    {
        font-size: 2.5em;
    }
}

button,
.btn
{
    font-family: 'AvantGardeGothicC-Bold';

    position: relative;

    display: inline-block;

    margin: 0;
    padding: 0;

    cursor: pointer;
    text-decoration: none;

    color: #000;
    border: none;
    border-bottom: .1em dashed;
    background: none;

    transition: border .5s;

    &:hover
    {
        border-bottom-style: solid;
    }


     > .icon
    {
        position: absolute;
        top: 50%;
        left: -2rem;

        display: inline-block;

        transform: translateY(-50%);

        border-bottom: none;
    }
}

.line
{
    display: inline-block;
    width: 5rem;
    height: 1px;
    border: 1px solid;
    margin: .3em 1em .3em 1em;
}

.separator
{
    position: relative;
    display: inline-block;
    height: 2em;
    border: 1px solid;
    margin: 0 1em;
    margin-bottom: -0.6em;

    .rotate &
    {
        transform: rotate(90deg);
    }
}
