mixin audioplayer(source)
  .audioplayer
    audio(preload='true')
      source(src=source)
    .audioplayer__button.play
      .audioplayer__button_icon
    .audioplayer__timeline
      .audioplayer__playhead
