mixin share-block
  .share-block
    .share-block__title
      p Понравился кейс? Расшарьте друзьям!
    .share-block__socals
      a.share.vk
        span.icon.socal-vk
      a.share.facebook
        span.icon.socal-fb
      a.share.twitter
        span.icon.socal-tw
      a.share.twitter
        span.icon.socal-in
