mixin socals(attributes)
  .socals&attributes(attributes)
    a.socals__item(href="http://vk.com/cartmendum", target="_blank")
      span.icon.socal-vk
    a.socals__item(href="http://www.facebook.com/maxim.dorofeev", target="_blank")
      span.icon.socal-fb
    a.socals__item(href="http://twitter.com/cartmendum", target="_blank")
      span.icon.socal-tw
    a.socals__item(href="http://cartmendum.livejournal.com/", target="_blank")
      span.icon.socal-lj
    a.socals__item(href="https://www.youtube.com/user/Cartmendum", target="_blank")
      span.icon.socal-yt
