mixin socals(attributes)
  .socals&attributes(attributes)
    a(href="http://vk.com/cartmendum", target="_blank").socals__item
      span.icon.socal-vk
    a(href="http://www.facebook.com/maxim.dorofeev", target="_blank").socals__item
      span.icon.socal-fb
    a(href="http://twitter.com/cartmendum", target="_blank").socals__item
      span.icon.socal-tw
    a(href="http://cartmendum.livejournal.com/", target="_blank").socals__item
      span.icon.socal-lj
    a(href="https://www.youtube.com/user/Cartmendum", target="_blank").socals__item
      span.icon.socal-yt
