@font-face
{
    font-family: 'AvantGardeGothicC';
    font-weight: normal;
    font-style: normal;

    src: url('../fonts/AvantGardeGothicC/AvantGardeGothicC.otf');
}

@font-face
{
    font-family: 'AvantGardeGothicC-Bold';
    font-weight: normal;
    font-style: normal;

    src: url('../fonts/AvantGardeGothicC/AvantGardeGothicC-Bold.otf');
}

@font-face
{
    font-family: 'AvantGardeGothicC-Italic';
    font-weight: normal;
    font-style: normal;

    src: url('../fonts/AvantGardeGothicC/AvantGardeGothicC-Italic.otf');
}

@font-face
{
    font-family: 'AvantGardeGothicC-BdItalic';
    font-weight: normal;
    font-style: normal;

    src: url('../fonts/AvantGardeGothicC/AvantGardeGothicC-BdItalic.otf');
}
