@font-face {
  font-family: 'AvantGardeGothicC';
  font-weight: normal;
  font-style: normal;
  src: url("../fonts/AvantGardeGothicC/AvantGardeGothicC.otf"); }

@font-face {
  font-family: 'AvantGardeGothicC-Bold';
  font-weight: normal;
  font-style: normal;
  src: url("../fonts/AvantGardeGothicC/AvantGardeGothicC-Bold.otf"); }

@font-face {
  font-family: 'AvantGardeGothicC-Italic';
  font-weight: normal;
  font-style: normal;
  src: url("../fonts/AvantGardeGothicC/AvantGardeGothicC-Italic.otf"); }

@font-face {
  font-family: 'AvantGardeGothicC-BdItalic';
  font-weight: normal;
  font-style: normal;
  src: url("../fonts/AvantGardeGothicC/AvantGardeGothicC-BdItalic.otf"); }

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

html,
body {
  font-family: 'AvantGardeGothicC';
  font-size: 16px; }

img,
.icon {
  display: inline-block;
  max-width: 100%;
  vertical-align: middle; }

pre {
  font-family: monospace;
  background-color: #eee;
  overflow: auto; }

code {
  font-family: monospace;
  background-color: #eee;
  padding: .2em;
  color: #FD8008; }

.icon {
  display: inline-block;
  vertical-align: middle;
  height: 1em;
  width: 1.6em;
  -webkit-background-size: auto 100%;
          background-size: auto 100%;
  background-position: center;
  background-repeat: no-repeat; }
  .icon.lang {
    width: 1.6em;
    height: 1em;
    background-image: url("../img/icons/lang.png"); }
    @media (min--moz-device-pixel-ratio: 1.3), (-o-min-device-pixel-ratio: 2.6 / 2), (-webkit-min-device-pixel-ratio: 1.3), (min-device-pixel-ratio: 1.3), (-o-min-device-pixel-ratio: 13/10), (min-resolution: 1.3dppx) {
      .icon.lang {
        background-image: url("../img/icons/lang@2x.png"); } }
  .icon.mix {
    width: 1.3em;
    height: 1em;
    background-image: url("../img/icons/mix.png"); }
    @media (min--moz-device-pixel-ratio: 1.3), (-o-min-device-pixel-ratio: 2.6 / 2), (-webkit-min-device-pixel-ratio: 1.3), (min-device-pixel-ratio: 1.3), (-o-min-device-pixel-ratio: 13/10), (min-resolution: 1.3dppx) {
      .icon.mix {
        background-image: url("../img/icons/mix@2x.png"); } }
  .icon.arrow-left {
    width: 1.4em;
    height: 1em;
    background-image: url("../img/icons/arrow-left.png"); }
    @media (min--moz-device-pixel-ratio: 1.3), (-o-min-device-pixel-ratio: 2.6 / 2), (-webkit-min-device-pixel-ratio: 1.3), (min-device-pixel-ratio: 1.3), (-o-min-device-pixel-ratio: 13/10), (min-resolution: 1.3dppx) {
      .icon.arrow-left {
        background-image: url("../img/icons/arrow-left@2x.png"); } }
  .icon.arrow-top {
    width: .9em;
    height: 1em;
    background-image: url("../img/icons/arrow-top.png"); }
    @media (min--moz-device-pixel-ratio: 1.3), (-o-min-device-pixel-ratio: 2.6 / 2), (-webkit-min-device-pixel-ratio: 1.3), (min-device-pixel-ratio: 1.3), (-o-min-device-pixel-ratio: 13/10), (min-resolution: 1.3dppx) {
      .icon.arrow-top {
        background-image: url("../img/icons/arrow-top@2x.png"); } }
  .icon.back {
    width: 1.3em;
    height: 1em;
    background-image: url("../img/icons/back.png"); }
    @media (min--moz-device-pixel-ratio: 1.3), (-o-min-device-pixel-ratio: 2.6 / 2), (-webkit-min-device-pixel-ratio: 1.3), (min-device-pixel-ratio: 1.3), (-o-min-device-pixel-ratio: 13/10), (min-resolution: 1.3dppx) {
      .icon.back {
        background-image: url("../img/icons/back@2x.png"); } }
  .icon.socal-vk {
    width: 1.8em;
    height: 1em;
    background-image: url("../img/icons/socal-vk.png"); }
    @media (min--moz-device-pixel-ratio: 1.3), (-o-min-device-pixel-ratio: 2.6 / 2), (-webkit-min-device-pixel-ratio: 1.3), (min-device-pixel-ratio: 1.3), (-o-min-device-pixel-ratio: 13/10), (min-resolution: 1.3dppx) {
      .icon.socal-vk {
        background-image: url("../img/icons/socal-vk@2x.png"); } }
  .icon.socal-fb {
    width: 1em;
    height: 1em;
    background-image: url("../img/icons/socal-fb.png"); }
    @media (min--moz-device-pixel-ratio: 1.3), (-o-min-device-pixel-ratio: 2.6 / 2), (-webkit-min-device-pixel-ratio: 1.3), (min-device-pixel-ratio: 1.3), (-o-min-device-pixel-ratio: 13/10), (min-resolution: 1.3dppx) {
      .icon.socal-fb {
        background-image: url("../img/icons/socal-fb@2x.png"); } }
  .icon.socal-tw {
    width: 1.4em;
    height: 1em;
    background-image: url("../img/icons/socal-tw.png"); }
    @media (min--moz-device-pixel-ratio: 1.3), (-o-min-device-pixel-ratio: 2.6 / 2), (-webkit-min-device-pixel-ratio: 1.3), (min-device-pixel-ratio: 1.3), (-o-min-device-pixel-ratio: 13/10), (min-resolution: 1.3dppx) {
      .icon.socal-tw {
        background-image: url("../img/icons/socal-tw@2x.png"); } }
  .icon.socal-lj {
    width: 1em;
    height: 1em;
    background-image: url("../img/icons/socal-lj.png"); }
    @media (min--moz-device-pixel-ratio: 1.3), (-o-min-device-pixel-ratio: 2.6 / 2), (-webkit-min-device-pixel-ratio: 1.3), (min-device-pixel-ratio: 1.3), (-o-min-device-pixel-ratio: 13/10), (min-resolution: 1.3dppx) {
      .icon.socal-lj {
        background-image: url("../img/icons/socal-lj@2x.png"); } }
  .icon.socal-yt {
    width: 1.5em;
    height: 1em;
    background-image: url("../img/icons/socal-yt.png"); }
    @media (min--moz-device-pixel-ratio: 1.3), (-o-min-device-pixel-ratio: 2.6 / 2), (-webkit-min-device-pixel-ratio: 1.3), (min-device-pixel-ratio: 1.3), (-o-min-device-pixel-ratio: 13/10), (min-resolution: 1.3dppx) {
      .icon.socal-yt {
        background-image: url("../img/icons/socal-yt@2x.png"); } }

.layout {
  padding: 0 2rem;
  overflow-x: hidden; }
  .layout__wrapper {
    max-width: 80rem;
    margin: auto;
    border-right: 1px solid #eee;
    border-left: 1px solid #eee; }
    @media (min-width: 767px) {
      .layout__wrapper {
        padding: 0;
        border: none;
        background: url("../img/body-bg.svg") repeat-y;
        background-position: center top;
        -webkit-background-size: 100% 1px;
                background-size: 100% 1px; } }
    @media (min-width: 767px) {
      .layout__wrapper {
        border: none; } }
  .layout__header {
    position: fixed;
    z-index: 999;
    top: 0;
    left: 0;
    overflow: hidden;
    width: 100%; }
  .layout__menu {
    position: fixed;
    top: 0;
    left: -100%;
    overflow: scroll;
    width: 100%;
    height: 100vh;
    padding: 0 2rem;
    padding-top: 6rem;
    -webkit-transition: -webkit-transform .5s ease;
    transition: -webkit-transform .5s ease;
    -o-transition: transform .5s ease;
    transition: transform .5s ease;
    transition: transform .5s ease, -webkit-transform .5s ease; }
  .layout__body {
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    padding-top: 6rem;
    -webkit-transition: -webkit-transform .5s ease;
    transition: -webkit-transform .5s ease;
    -o-transition: transform .5s ease;
    transition: transform .5s ease;
    transition: transform .5s ease, -webkit-transform .5s ease;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between; }
  .layout__container {
    max-width: 100%;
    margin: auto; }
    @media (min-width: 767px) {
      .layout__container {
        width: 66.66666666%;
        max-width: 53.375rem; } }
  .layout__side-left, .layout__side-right {
    display: none; }
    @media (min-width: 767px) {
      .layout__side-left, .layout__side-right {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-pack: justify;
        -webkit-justify-content: space-between;
            -ms-flex-pack: justify;
                justify-content: space-between;
        -webkit-box-align: start;
        -webkit-align-items: flex-start;
            -ms-flex-align: start;
                align-items: flex-start;
        padding: 2rem;
        padding-top: 8rem; }
        .layout__side-left .rotate, .layout__side-right .rotate {
          -webkit-writing-mode: vertical-rl;
              -ms-writing-mode: tb-rl;
                  writing-mode: vertical-rl;
          -webkit-transform: rotate(180deg);
              -ms-transform: rotate(180deg);
                  transform: rotate(180deg); } }
  .layout__side-left {
    position: fixed;
    top: 0;
    left: 0;
    width: 16%;
    height: 100%; }
  .layout__side-right {
    -webkit-box-align: end;
    -webkit-align-items: flex-end;
        -ms-flex-align: end;
            align-items: flex-end;
    position: fixed;
    top: 0;
    right: 0;
    width: 16%;
    height: 100%; }

.menu--open {
  overflow: hidden; }
  .menu--open .layout__body,
  .menu--open .layout__menu {
    -webkit-transform: translateX(100%);
        -ms-transform: translateX(100%);
            transform: translateX(100%); }

.header {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  height: 6rem;
  margin: auto;
  padding: 0 2rem;
  -webkit-transition: all .5s;
  -o-transition: all .5s;
  transition: all .5s;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between; }
  @media (min-width: 767px) {
    .header {
      -webkit-box-pack: start;
      -webkit-justify-content: flex-start;
          -ms-flex-pack: start;
              justify-content: flex-start; } }
  @media (min-width: 767px) {
    .header__menu-btn {
      display: none; } }
  .header__logo {
    -webkit-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s; }
    @media (min-width: 767px) {
      .header__logo {
        padding-top: 1rem;
        padding-right: 1rem;
        -webkit-box-flex: 0;
        -webkit-flex: 0 0 15%;
            -ms-flex: 0 0 15%;
                flex: 0 0 15%; }
        .header__logo img {
          max-height: 4rem;
          -webkit-transition: all .3s;
          -o-transition: all .3s;
          transition: all .3s; } }
  .header__nav {
    display: none; }
    @media (min-width: 767px) {
      .header__nav {
        display: block; } }
    .header__nav ul {
      margin: 0;
      padding: 0;
      list-style: none;
      -webkit-box-pack: justify;
      -webkit-justify-content: space-between;
          -ms-flex-pack: justify;
              justify-content: space-between; }
      .header__nav ul li {
        display: inline-block;
        padding-left: 4rem; }
        .header__nav ul li:first-child {
          padding-left: 0; }
  .header__link {
    font-family: 'AvantGardeGothicC-Bold';
    font-size: .9rem;
    text-decoration: none;
    color: #000; }
  .header__page-title {
    position: absolute;
    left: 50%;
    margin-left: -5rem;
    -webkit-transition: -webkit-transform .3s;
    transition: -webkit-transform .3s;
    -o-transition: transform .3s;
    transition: transform .3s;
    transition: transform .3s, -webkit-transform .3s; }
    @media (max-width: 767px) {
      .header__page-title {
        -webkit-transform: translateY(5rem);
            -ms-transform: translateY(5rem);
                transform: translateY(5rem); }
        .header__page-title .header__link .icon {
          display: none; } }
    @media (min-width: 767px) {
      .header__page-title {
        position: relative;
        left: 0;
        margin-left: 0;
        padding-left: 7rem !important; }
        .header__page-title::before {
          position: absolute;
          top: 50%;
          left: 1rem;
          display: inline-block;
          width: 5rem;
          height: 2px;
          margin-top: -2px;
          content: '';
          -webkit-transition: -webkit-transform .3s linear .2s;
          transition: -webkit-transform .3s linear .2s;
          -o-transition: transform .3s linear .2s;
          transition: transform .3s linear .2s;
          transition: transform .3s linear .2s, -webkit-transform .3s linear .2s;
          -webkit-transform: translateX(-3rem) scaleX(0);
              -ms-transform: translateX(-3rem) scaleX(0);
                  transform: translateX(-3rem) scaleX(0);
          vertical-align: middle;
          background: #000; }
        .header__page-title .header__link {
          -webkit-transition: -webkit-transform .2s;
          transition: -webkit-transform .2s;
          -o-transition: transform .2s;
          transition: transform .2s;
          transition: transform .2s, -webkit-transform .2s;
          -webkit-transform: translateX(-5rem) scale(0);
              -ms-transform: translateX(-5rem) scale(0);
                  transform: translateX(-5rem) scale(0); } }
    .header__page-title .header__link {
      display: inline-block;
      background: url("../img/marker-1.png");
      -webkit-background-size: 100% 100%;
              background-size: 100%; }
  .header__callback-link {
    position: absolute;
    right: 2rem;
    display: none;
    text-align: right; }
    @media (min-width: 767px) {
      .header__callback-link {
        display: block; } }
  .header__icons {
    line-height: 2rem;
    overflow: hidden;
    font-size: 1rem;
    height: 2rem; }
    @media (min-width: 767px) {
      .header__icons {
        display: none; } }
    .header__icons__wrap {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-transition: -webkit-transform .5s ease;
      transition: -webkit-transform .5s ease;
      -o-transition: transform .5s ease;
      transition: transform .5s ease;
      transition: transform .5s ease, -webkit-transform .5s ease;
      -webkit-transform: translateY(-4rem);
          -ms-transform: translateY(-4rem);
              transform: translateY(-4rem);
      -webkit-box-pack: start;
      -webkit-justify-content: flex-start;
          -ms-flex-pack: start;
              justify-content: flex-start;
      -webkit-box-align: end;
      -webkit-align-items: flex-end;
          -ms-flex-align: end;
              align-items: flex-end; }
      .header__icons__wrap > * {
        line-height: 2rem;
        display: block;
        height: 2rem;
        -webkit-transition: -webkit-transform .5s ease;
        transition: -webkit-transform .5s ease;
        -o-transition: transform .5s ease;
        transition: transform .5s ease;
        transition: transform .5s ease, -webkit-transform .5s ease; }
    .header__icons_mixed {
      -webkit-box-ordinal-group: 1;
      -webkit-order: 0;
          -ms-flex-order: 0;
              order: 0; }
    .header__icons_lang {
      -webkit-box-ordinal-group: 2;
      -webkit-order: 1;
          -ms-flex-order: 1;
              order: 1; }
    .header__icons_back {
      -webkit-box-ordinal-group: 3;
      -webkit-order: 2;
          -ms-flex-order: 2;
              order: 2; }
    .header__icons_go-back {
      -webkit-box-ordinal-group: 4;
      -webkit-order: 3;
          -ms-flex-order: 3;
              order: 3; }
  .header.scroll {
    border-bottom: 1px solid #000;
    background: #fff;
    height: 4.5rem; }
    .header.scroll .header__icons__wrap {
      -webkit-transform: translateY(-6rem);
          -ms-transform: translateY(-6rem);
              transform: translateY(-6rem); }
    .header.scroll .header__logo {
      padding-top: 0; }
      @media (max-width: 767px) {
        .header.scroll .header__logo {
          -webkit-transform: translateY(-5rem);
              -ms-transform: translateY(-5rem);
                  transform: translateY(-5rem); } }
      .header.scroll .header__logo img {
        width: auto; }
    .header.scroll .header__page-title {
      -webkit-background-size: 100% 100%;
              background-size: 100%; }
      @media (max-width: 767px) {
        .header.scroll .header__page-title {
          -webkit-transform: translateY(0);
              -ms-transform: translateY(0);
                  transform: translateY(0); } }
      @media (min-width: 767px) {
        .header.scroll .header__page-title::before {
          -webkit-transform: translateX(0) scaleX(1);
              -ms-transform: translateX(0) scaleX(1);
                  transform: translateX(0) scaleX(1); }
        .header.scroll .header__page-title .header__link {
          -webkit-transform: translateX(0) scale(1);
              -ms-transform: translateX(0) scale(1);
                  transform: translateX(0) scale(1); } }

.menu--open .header__icons__wrap {
  -webkit-transform: translateY(-2rem) !important;
      -ms-transform: translateY(-2rem) !important;
          transform: translateY(-2rem) !important; }
  .menu--open .header__icons__wrap > * {
    -webkit-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
            transform: rotate(360deg); }

.menu {
  margin: 0;
  padding: 0; }
  .menu__list {
    margin: 0;
    padding: 0;
    padding-top: .5rem;
    list-style: none; }
  .menu__item {
    padding-bottom: 1.13em; }
  .menu__link {
    font-family: 'AvantGardeGothicC-Bold';
    font-size: 1.35rem;
    font-weight: bold;
    line-height: 2em;
    position: relative;
    display: inline-block;
    -webkit-transition: -webkit-transform .5s ease;
    transition: -webkit-transform .5s ease;
    -o-transition: transform .5s ease;
    transition: transform .5s ease;
    transition: transform .5s ease, -webkit-transform .5s ease;
    text-decoration: none;
    color: #000; }
    .menu__link.active::before {
      position: absolute;
      z-index: -1;
      top: 0;
      left: -10%;
      width: 120%;
      height: 100%;
      content: '';
      -webkit-transition: -webkit-transform .5s ease .5s;
      transition: -webkit-transform .5s ease .5s;
      -o-transition: transform .5s ease .5s;
      transition: transform .5s ease .5s;
      transition: transform .5s ease .5s, -webkit-transform .5s ease .5s;
      background: url("../img/marker-1.png") no-repeat;
      background-position: center center;
      -webkit-background-size: 100% 100%;
              background-size: 100% 100%; }
  .menu__burger {
    font-size: .7rem;
    -webkit-transition: -webkit-transform .5s;
    transition: -webkit-transform .5s;
    -o-transition: transform .5s;
    transition: transform .5s;
    transition: transform .5s, -webkit-transform .5s; }
    .menu__burger span {
      position: relative;
      display: block;
      width: 2em;
      height: .2em;
      margin: .4em 0;
      -webkit-transition: width .5s ease, -webkit-transform .5s ease;
      transition: width .5s ease, -webkit-transform .5s ease;
      -o-transition: transform .5s ease, width .5s ease;
      transition: transform .5s ease, width .5s ease;
      transition: transform .5s ease, width .5s ease, -webkit-transform .5s ease;
      background: black; }

.layout__menu .menu__item,
.layout__menu .menu__link.active::before {
  -webkit-transform: scale(0);
      -ms-transform: scale(0);
          transform: scale(0); }

@media (max-width: 767px) {
  .menu--open {
    overflow: hidden; }
    .menu--open .menu__burger {
      -webkit-transform: rotate(180deg) scale(0.9);
          -ms-transform: rotate(180deg) scale(0.9);
              transform: rotate(180deg) scale(0.9); }
      .menu--open .menu__burger span:first-child {
        width: 1.2em;
        -webkit-transform: rotate(-45deg) translateX(-0.35em);
            -ms-transform: rotate(-45deg) translateX(-0.35em);
                transform: rotate(-45deg) translateX(-0.35em); }
      .menu--open .menu__burger span:last-child {
        width: 1.2em;
        -webkit-transform: rotate(45deg) translateX(-0.35em);
            -ms-transform: rotate(45deg) translateX(-0.35em);
                transform: rotate(45deg) translateX(-0.35em); }
    .menu--open .menu__item {
      -webkit-transition: -webkit-transform .3s ease;
      transition: -webkit-transform .3s ease;
      -o-transition: transform .3s ease;
      transition: transform .3s ease;
      transition: transform .3s ease, -webkit-transform .3s ease;
      -webkit-transform: scale(1);
          -ms-transform: scale(1);
              transform: scale(1); }
    .menu--open .menu__link.active::before {
      -webkit-transform: scaleX(1);
          -ms-transform: scaleX(1);
              transform: scaleX(1); } }
