h1
  | Заголовок 
  code h1
h2
  | Заголовок 
  code h2
h3
  | Заголовок 
  code h3
h4
  | Заголовок 
  code h4
h5
  | Заголовок 
  code h5
h6
  | Заголовок 
  code h6

.title
  | Заголовок
  code .title

.subtitle
  | Заголовок
  code .subtitle

p
  code p
  |  Параграф. Подразделение текста внутри главы, раздела. 
  br
  |  Далеко-далеко за словесными горами в стране, гласных и согласных живут рыбные тексты. Решила правилами даже, имеет текстами маленькая, всеми грамматики, большой взгляд свое lorem большого ручеек заголовок назад если ты страну! Составитель!
p
  code b
  b Полужирное начертания шрифта
p
  code em
  em Шрифт курсивом, придавая тексту значимость.
p
  code i
  i Шрифт курсивом
p
  code small
  small Уменьшает размер шрифта на единицу по отношению к обычному тексту.
p
  code strong
  strong
    | Полужирное начертание шрифта, относится к тегам логической разметки, указывая браузеру на важность текста.
p
  code sub
  sub
    | Используется для создания нижних индексов. Сдвигает текст ниже уровня строки, уменьшая его размер.
p
  code sup
  sup
    | Используется для создания степеней. Сдвигает текст выше уровня строки, уменьшая его размер.
p
  code ins
  ins Выделяет текст в новой версии документа, подчёркивая его.
p
  code del
  del Перечёркивает текст. Используется для выделения текста, удаленного из документа.
p
  code code
  code
    | Служит для выделения фрагментов программного кода. Отображается моноширинным шрифтом.
p
  code kbd
  kbd
    | Отмечает фрагмент как вводимый пользователем с клавиатуры. Отображается моноширинным шрифтом.
p
  code samp
  samp
    | Отмечает фрагмент как вводимый пользователем с клавиатуры. Отображается моноширинным шрифтом.
p
  code pre
pre.
  \n            Позволяет вывести текст на экран, сохранив изначальное форматирование.
                  Пробелы
              и переносы строк при этом не удаляются.
p
p
  code abbr
  abbr Применяется для форматирования аббревиатур.
p
  code bdo
  bdo
    | Используется для замещения текущего направления текста, т.е. текст в теге отображается зеркально.
p
  code blockquote
blockquote Выделяет цитаты внутри документа, выделяя его отступами и переносами строк.
p
p
  code q
  q Используется для выделения коротких цитат.
p
  code cite
  cite
    | Применяется для выделения цитат, названий произведений, сносок на другие документы.
p
  code dfn
  dfn
    | Позволяет выделить текст как определение. Несмотря на наличие специального тега, рекомендуется выделять текст силами CSS.
