menu.menu
  .layout__container
    ul.menu__list
      li.menu__item
        a.menu__link(href='#') Главная
      li.menu__item
        a.menu__link(href='#') Кейсы
      li.menu__item
        a.menu__link.active(href='#') О проекте
      li.menu__item
        a.menu__link(href='#') Обратная связь
      li.menu__item
        a.menu__link(href='#') Мероприятия
// END: menu
