@import "../core/core";

pre
{
    font-family: monospace;
    background-color: #eee;
    overflow: auto;
}

code
{
    font-family: monospace;
    background-color: #eee;
    padding: .2em;
    color: #FD8008;
}
