extends pug/base

append vars
  - pageTitle = 'О проекте';
  - layout.classList = ['aboutpage'];

append scripts
  script.
    var feedbackIcons = new trustUsFeedback();
    var feedbackInputs = new inputsHandler();
    initSlider();

block content
  .first-section
    .first-section__left
      .first-section__figure
        .oval-marker
        img.first-section__figure-img(src="assets/images/aboutpage/man.png", alt="alt", srcset="assets/images/aboutpage/man@2x.png 2x")
    .first-section__right
      .h1.first-section__title Всем привет!
      .first-section__content
        p
          span.zi-2 Этот свежий 
          span.marker-1 молодой человек – я, 
          br
          | доктор 
          a(href="#do-now").link прокрастинологических наук,
        p
          | воспитатель обезьянок 
          br
          a(href="#reviews").link в полевых корпоративных условиях
        p
          | и почетный мастер 
          a(href="#book").link клуба Джедаев,
          br
          span.marker-1 Максим Дорофеев…
      .first-section__bottom
        .first-section__bottom-text 
          | Что это все <br> значит?
  // END: first-section
  .trust-us#reviews
    .trust-us__left
      h2.title.trust-us__title 
        | Я знаю, как 
        span.marker-title сделать
        br
        span.zi-1 вас и вашу команду <br> эффективной
      p 
        | На сегодняшний момент мое любимое <br> дело — обучение 
        | людей техникам личной <br> эффективности:
      h3.subtitle.trus-us__subtitle
        | «Как 
        span.marker-2 приносить больше 
        |  пользы своей компании, оставаясь при этом <br>        
        span.marker-2 свободным и творческим 
        | человеком»

      p
        | Мне доверились такие компании, которые <br> по контракту я не могу называть… 
        br
        | Но на счет картинок никто ничего не говорил…
        
    .trust-us__right
      .trust-us__icons
        .trust-us__icon-wrapper#js-logo-wrapper
        img(src="assets/images/revievs/logo_1.png", alt="").trust-us__icons-item
        img(src="assets/images/revievs/logo_2.png", alt="").trust-us__icons-item
        img(src="assets/images/revievs/logo_3.png", alt="").trust-us__icons-item
        img(src="assets/images/revievs/logo_4.png", alt="").trust-us__icons-item
        img(src="assets/images/revievs/logo_5.png", alt="").trust-us__icons-item
        img(src="assets/images/revievs/logo_6.png", alt="").trust-us__icons-item
      .trust-us__backfeeds
        +b.audio-backfeed
          +e.left
            +e.IMG.avatar(src="assets/images/revievs/photo_1.png", alt="")
          +e.right
            +audioplayer('assets/media/reviev-1.mp3')
            +e.content
              h4 Роман Квартальнов 
                a(href="https://www.facebook.com/roma.kvartalnov" target="_blank").icon.socal-fb
        +b.audio-backfeed
          +e.left
            +e.IMG.avatar(src="assets/images/revievs/photo_2.png", alt="")
          +e.right
            +audioplayer('assets/media/reviev-2.mp3')
            +e.content
              h4 Наталья Свешникова
                a(href="https://www.facebook.com/oduduka" target="_blank").icon.socal-fb
              p Работает в Лаборатории Касперского
        +b.audio-backfeed
          +e.left
            +e.IMG.avatar(src="assets/images/revievs/photo_3.png", alt="")
          +e.right
            +audioplayer('assets/media/reviev-3.mp3')
            +e.content
              h4 Виталий Васильев
                a(href="https://www.facebook.com/vitaliyanan" target="_blank").icon.socal-fb
              p Работает в 
                a.link(href="https://tt.transneft.ru/" target="_blank") Транснефть
        +b.audio-backfeed
          +e.left
            +e.IMG.avatar(src="assets/images/revievs/photo_4.png", alt="")
          +e.right
            +audioplayer('assets/media/reviev-4.mp3')
            +e.content
              h4 Мария Горбатова
                a(href="https://www.facebook.com/maria.gorbatova" target="_blank").icon.socal-fb
              p
                | Работала (на момент тренинга) в 
                a.link(href="https://www.db.com/company/index.html" target="_blank") Deutsche Bank 
                | сейчас в Google UK, бегает марафоны и имеет права пилота самолета
        +b.audio-backfeed
          +e.left
            +e.IMG.avatar(src="assets/images/revievs/photo_5.png", alt="")
          +e.right
            +audioplayer('assets/media/reviev-5.mp3')
            +e.content
              h4 Илья Рудаков
                a(href="https://www.facebook.com/irudakov30" target="_blank").icon.socal-fb
              p Работает в 
                a.link(href="https://www.db.com/company/index.html" target="_blank") Deutsche Bank 
        +b.audio-backfeed
          +e.left
            +e.IMG.avatar(src="assets/images/revievs/photo_6.png", alt="")
          +e.right
            +audioplayer('assets/media/reviev-6.mp3')
            +e.content
              h4 Федяев Павел
              p Генеральный директор 
                br
                a(href="http://www.glt.company/" target="_blank").link ООО «ГЛТ- Москва»
  // END: trust-us
  +b.tell-technique#book
    +e.left
      +e.IMG.book(src="assets/images/aboutpage/book.png", srcset="assets/images/aboutpage/book@2x.png 2x", alt="")
      +audioplayer('assets/media/audio.mp3')
      +e.A.link.link(href="") Послушать отрывок (читаю сам)
    +e.right
      +e.title.title Расказываю, <br>как познать технику джедаев
      p 
        | Об этом я написал целую книгу <br>
        span.marker-1 «Джедайские техники. 
        span.zi-2 Как воспитать свою обезьяну, 
        | опустошить инбокс и сберечь 
        | мыслетопливо»      
      br
      a.link(href="https://www.mann-ivanov-ferber.ru/books/dzhedajskie-texniki" target="_blank") Подробнее о книге
      br
      br
      p.with_round 
        | О том, что такое обезьянка, <br>
        | и почему мы предпочитаем проверить <br>
        | новости, почту и старые фотографии <br>
        | написанию диплома, началу нового <br>
        | проекта или завершению <br>
        | начатого…
      +e.next Как я пришел к <br> такой жизни
  // END: tell-technique
  +b.how-began#history
    +b.began-slider
      +e.wrapper.swiper-wrapper
        +e.slide.swiper-slide
          +e.slide-left
            +e.IMG.photo(src="assets/images/aboutpage/slider/photo-1.png", alt="")
          +e.slide-right
            +e.title.title Как все начиналось
            +e.year.marker-1 1981
            +e.content
              p Родился в Москве, вечером 15 апреля 1981 года в семье помещика Дорофеева и моей матушки, 
        +e.slide.swiper-slide
          +e.slide-left
            +e.IMG.photo(src="assets/images/aboutpage/slider/photo-1.png", alt="")
          +e.slide-right
            +e.title.title Другой <br>заголовок
            +e.year.marker-1 1989 - 1994
            +e.content
              p Родился в Москве, вечером 15 апреля 1981 года в семье помещика Дорофеева и моей матушки, 
      +e.pagination
      +b.swiper-btn._prev.began-slider__prev
        +e.round        
        +e.hover       
      +b.swiper-btn._next.began-slider__next
        +e.round        
        +e.hover
    +e.arrow
  // END: how-began
  +b.do-now#do-now
    +e.left
      +e.title.title 
        span.marker-title Что я делаю <br> 
        span.zi-1 сейчас
      p.
        Следите регулярно за обновлениями в моем Youtube канале, 
        блоге в ЖЖ, слушайте бухтелки и прожекторыпрокрастиналогии. 
        Присоединяйтесь!
      br
      p
        a.link(href="http://www.youtube.com/user/Cartmendum?sub_confirmation=1", target="_blank") Подписаться на канал
        |  (Нас&nbsp;уже&nbsp;261&nbsp;027)
      br
      br
      br
      +e.subtitle.subtitle Корпоративное обучение
      p
        span.zi-2 Если 
        span.marker-1 вы считаете, что ваша 
        span.zi-2  команда может быть эффективней, лучше  
        span.marker-1 и счастливей -
        span.zi-2  вы можете заказать 
        |  у меня пробную встречу, 
        |  где мы определим, как пройдет работа по апгрейду. 
      br
      +e.A.link.link(href="#") Подробнее здесь
    +e.right
      +e.video-wrapper
        +e.oval.oval-marker
        +e.video-container.youtube(data-video="https://www.youtube.com/watch?v=uGlzWZyVrBk")          
          +e.play-btn
      +e.subtitle.subtitle Открытые тренинги 
      p я провожу редко, <br> но вот 
        a.link(href="#") ближайшие.
      //- +e.dates
        +e.date-row
          +e.date-val 2-3 марта
          +e.A.date-city.link(href="") Ростов-на-Дону
        +e.date-row
          +e.date-val 7 июня
          +e.A.date-city.link(href="") Иркутск
        +e.date-row
          +e.date-val 15 июня
          +e.A.date-city.link(href="") Новосибирск
  // END: do-now
  +b.feedback#feedback
    +e.left
      +e.label.marker-1 обратная связь
      +e.arrow
    +e.right
      +b.feedback-form
        +e.header
          +e.H2.title Напишите мне <br> сюда:
          +e.subtitle (если хотите)
        +e.FORM.form
          +e.control
             +e.INPUT.input(type="text")
             +e.placeholder Как вас там
          +e.control
            +e.INPUT.input(type="text")
            +e.placeholder По какому поводу пишете
          +e.control._message
            +e.INPUT.input(type="text")
            +e.placeholder Сюда сообщение
          +e.control
            +e.INPUT.input(type="text")
            +e.placeholder И куда вам на это ответить?
          +e.BUTTON.btn 
            +e.btn-round
            +e.btn-text Отправить
  // END: feedback
block footer
  .to-small
    +socals(class="flex space-around")


block side-left-center
  .rotate
    a.back-to-office.menu__link(href="home.html") Назад в офис

block side-right-center
  +socals(class="vertical")
  
block side-right-bottom
  .rotate
    .lang
      | RUS / 
      a(href="#") END
