extends pug/base

append vars
  - pageTitle = 'О проекте';
  - layout.classList = ['aboutpage'];

append scripts
  script.
    console.log('this is about page');

block content
  .first-section
    .first-section__left
      .first-section__figure
        .oval-marker
        img.first-section__figure-img(src="assets/images/aboutpage/man.png", alt="alt", srcset="assets/images/aboutpage/man@2x.png 2x")
    .first-section__right
      h2.first-section__title Всем привет!
      .first-section__content
        p 
          | Этот свежий 
          span.marker-1 молодой человек – я, 
          br
          | доктор 
          a(href="").link прокрастинологических наук,
        p
          | воспитатель обезьянок 
          br
          a(href="").link в полевых корпоративных условиях
        p
          | и почетный мастер 
          a(href="").link клуба Джедаев,
          br
          span.marker-1 Максим Дорофеев…
      .first-section__bottom
        .first-section__bottom-text 
          | Что это все <br> значит?


  .trust-us
    .trust-us__left
      h2.title.trust-us__title 
        | Я знаю, как 
        span.marker-title сделать
        br
        span.zi-1 вас и вашу команду <br> эффективной
      p 
        | На сегодняшний момент мое любимое <br> дело — обучение 
        | людей техникам личной <br> эффективности:
      p.subtitle.trus-us__subtitle
        | «Как 
        span.marker-2 приносить больше 
        |  пользы своей компании, оставаясь при этом <br>        
        span.marker-2 свободным и творческим 
        | человеком»

      p
        | Мне доверились такие компании, которые <br> по контракту я не могу называть… 
        br
        | Но на счет картинок никто ничего не говорил…
        
    .trust-us__right
      .trust-us__icons
        .trust-us__icon-wrapper#js-logo-wrapper
        img(src="assets/images/aboutpage/icons/yandex.svg", alt="yandex").trust-us__icons-item
        img(src="assets/images/aboutpage/icons/kaspersky.svg", alt="yandex").trust-us__icons-item
        img(src="assets/images/aboutpage/icons/some.svg", alt="yandex").trust-us__icons-item
        img(src="assets/images/aboutpage/icons/yandex.svg", alt="yandex").trust-us__icons-item
        img(src="assets/images/aboutpage/icons/kaspersky.svg", alt="yandex").trust-us__icons-item
        img(src="assets/images/aboutpage/icons/some.svg", alt="yandex").trust-us__icons-item
        img(src="assets/images/aboutpage/icons/yandex.svg", alt="yandex").trust-us__icons-item
        img(src="assets/images/aboutpage/icons/kaspersky.svg", alt="yandex").trust-us__icons-item
        img(src="assets/images/aboutpage/icons/some.svg", alt="yandex").trust-us__icons-item
      .trust-us__backfeeds
        +b.audio-backfeed
          +e.left
            +e.IMG.avatar(src="assets/images/aboutpage/testimonials/clinet_1.png", alt="")
            +e.BUTTON.play
          +e.right
            +e.IMG.tmp(src="assets/images/aboutpage/tmp_audio.png", alt="")
            +e.P.content
              | Гарри Петрович, глава отдела <br> разработки, Лаборатория <br> Касперского
        +b.audio-backfeed
          +e.left
            +e.IMG.avatar(src="assets/images/aboutpage/testimonials/clinet_1.png", alt="")
            +e.BUTTON.play
          +e.right
            +e.IMG.tmp(src="assets/images/aboutpage/tmp_audio.png", alt="")
            +e.P.content
              | Гарри Поттер, глава отдела <br> разработки, Лаборатория <br> Касперского
        +b.audio-backfeed
          +e.left
            +e.IMG.avatar(src="assets/images/aboutpage/testimonials/clinet_1.png", alt="")
            +e.BUTTON.play
          +e.right
            +e.IMG.tmp(src="assets/images/aboutpage/tmp_audio.png", alt="")
            +e.P.content
              | Другой Человек, глава отдела <br> разработки, Лаборатория <br> Касперского


  +b.tell-technique
    +e.left
      +e.IMG.book(src="assets/images/aboutpage/book.png", srcset="assets/images/aboutpage/book@2x.png 2x", alt="")
      +e.player
        img(src="assets/images/aboutpage/book-player_tmp.png", alt="")
      +e.A.link.link(href="") Послушать отрывок (читаю сам)
    +e.right
      +e.title.title Расказываю, <br>как познать технику джедаев
      p 
        | Об этом я написал целую книгу <br>
        span.marker-1 «Джедайские техники. 
        | Как воспитать свою обезьяну, 
        | опустошить инбокс и сберечь 
        | мыслетопливо»      
      br
      a.link(href="") Подробнее о книге
      br
      br
      p.with_round 
        | О том, что такое обезьянка, <br>
        | и почему мы предпочитаем проверить <br>
        | новости, почту и старые фотографии <br>
        | написанию диплома, началу нового <br>
        | проекта или завершению <br>
        | начатого…
      +e.next Как я пришел к <br> такой жизни



  +b.how-began
    +b.began-slider
      +e.wrapper.swiper-wrapper
        +e.slide.swiper-slide
          +e.slide-left
            +e.IMG.photo(src="assets/images/aboutpage/slider/photo-1.png", alt="")
          +e.slide-right
            +e.title.title Как все начиналось
            +e.year.marker-1 1981
            +e.content
              p Родился в Москве, вечером 15 апреля 1981 года в семье помещика Дорофеева и моей матушки, 
              a(href="").link Подробнее о книге
        +e.slide.swiper-slide
          +e.slide-left
            +e.IMG.photo(src="assets/images/aboutpage/slider/photo-1.png", alt="")
          +e.slide-right
            +e.title.title Другой <br>заголовок
            +e.year.marker-1 1989 - 1994
            +e.content
              p Родился в Москве, вечером 15 апреля 1981 года в семье помещика Дорофеева и моей матушки, 
              a(href="").link Подробнее о книге
      +e.pagination
      +b.swiper-btn._prev.began-slider__prev
        +e.round        
        +e.hover       
      +b.swiper-btn._next.began-slider__next
        +e.round        
        +e.hover
    +e.arrow


  +b.do-now
    +e.left
      +e.title.title 
        span.marker-title Что я делаю <br> 
        span.zi-1 сейчас
      p.
        Следите регулярно за обновлениями в моем Youtube канале, 
        блоге в ЖЖ, слушайте бухтелки и прожекторыпрокрастиналогии. 
        Присоединяйтесь!
      br
      p
        a.link(href="http://www.youtube.com/user/Cartmendum?sub_confirmation=1", target="_blank") Подписаться на канал
        |  (Нас&nbsp;уже&nbsp;261&nbsp;027)      
      br
      br
      +e.subtitle.subtitle Корпоративное обучение
      p
        span.zi-2 Если 
        span.marker-1 вы считаете, что ваша 
        span.zi-1  команда может быть эффективней, 
        | лучше  
        span.marker-1 и счастливей -
        |  вы можете заказать 
        |  у меня пробную встречу, 
        |  где мы определим, как пройдет работа по апгрейду. 
      br
      +e.A.link.link(href="") Подробнее здесь
    +e.right
      +e.video-wrapper
        +e.oval.oval-marker
        +e.video-container.youtube(data-video="https://www.youtube.com/watch?v=uGlzWZyVrBk")          
          +e.play-btn
      +e.subtitle.subtitle Открытые тренинги 
      p я провожу редко, <br> но вот ближайшие:
      +e.dates
        +e.date-row
          +e.date-val 2-3 марта
          +e.A.date-city.link(href="") Ростов-на-Дону
        +e.date-row
          +e.date-val 7 июня
          +e.A.date-city.link(href="") Иркутск
        +e.date-row
          +e.date-val 15 июня
          +e.A.date-city.link(href="") Новосибирск


  +b.feedback
    +e.left
      +e.label.marker-1 обратная связь
      +e.arrow
    +e.right
      +b.feedback-form
        +e.header
          +e.H2.title Напишите мне <br> сюда:
          +e.subtitle (если хотите)
        +e.FORM.form
          +e.control
            +e.INPUT.input(type="text")
            +e.placeholder Как вас там
          +e.control
            +e.INPUT.input(type="text")
            +e.placeholder По какому поводу пишете
          +e.control._message
            +e.INPUT.input(type="text")
            +e.placeholder Сюда сообщение
          +e.control
            +e.INPUT.input(type="text")
            +e.placeholder И куда вам на это ответить?
          +e.BUTTON.btn 
            +e.btn-round
            +e.btn-text Отправить







block footer
  
  .to-small  
    .socals.flex.space-around
      a(href="#").socals__item
        span.icon.socal-vk
      a(href="#").socals__item
        span.icon.socal-fb
      a(href="#").socals__item
        span.icon.socal-tw
      a(href="#").socals__item
        span.icon.socal-lj
      a(href="#").socals__item
        span.icon.socal-yt
  .from-medium       



block side-left-top
block side-left-center
  .rotate
    a.header__link.menu__link(href="#") Назад в офис
block side-left-bottom

block side-right-top
block side-right-center
  .socals.vertical
    a(href="#").socals__item
      span.icon.socal-vk
    a(href="#").socals__item
      span.icon.socal-fb
    a(href="#").socals__item
      span.icon.socal-tw
    a(href="#").socals__item
      span.icon.socal-lj
    a(href="#").socals__item
      span.icon.socal-yt
block side-right-bottom
  .rotate
    .lang
      | RUS / 
      a(href="#") END
