extends case-layout

append vars
  - pageTitle = 'Всегда в последний момент!';

block stiker
  +stiker('Всегда в последний момент!', 'case-13.html', 'assets/images/cases/13.png')

block prev
  +stiker('Сжатие/разрежение сроков', 'case-12.html', 'assets/images/cases/12.png')

block next
  +stiker('Невпихуемость', 'case-1.html', 'assets/images/cases/1.png')

block article
  h5
    | Кейс
    span.line
    | №13
  h2 Всегда в последний момент!
  br
  br
  p Наше мышление устроено так, что по молчанию (но не всегда) наш мозг между важным и срочным выбирает понятное.
  p Из-за этого может возникать такое прекрасное явление, как нелинейная зависимость длительности выполнения задачи от ее сложности.
  img(src="assets/images/article/neosoznanoi.png", alt="")
  h3 В чём проблема
  p Возможно, вы замечали, что, по странному стечению обстоятельств, задача трудоемкостью в половину человекочаса (условных, конечно) выполняется за полчаса, задача в один человекочас — за один час, в два человекочаса — за два часа… Но в какой-то момент наступает перелом: на задачу в четыре человекочаса уходит целый день, на задачу в восемь человекочасов — неделя, а задача в сорок человекочасов не доводится до конца практически никогда. 
  p Но не всегда… Иногда к нам приходит жесткое ощущение надвигающегося пиндеца, и тогда мы мобилизуемся и быстро-быстро делаем все так, как получится… 
  img(src="assets/images/article/cherez_zhopy.png", alt="")
  br
  h3 Как с этим работать
  p Дело в том, что чем масштабнее и сложнее задача, тем более склонен ее исполнитель к прокрастинации.
  p Старайтесь каждую задачу формулировать максимально простым языком, как будто вы маленькая обезьянка…
  p Также очень важным навыком является умение и стремление выполнять не горящие задачи. 
  b
   span.marker-4 Помните – целевое состояние истинного джедая, когда большая часть выполненных задач была выполнена только потому, что он сам так решил. 
  p Эти задачи могли бы подождать еще, и никто бы не пострадал, но джедай их решил взять и выполнить в этот момент. До того, как они загорелись. Вы же помните – истинно важные задачи крайне редко горят ;)
