extends case

block stiker
  .stiker
    a(href="case-2.html").stiker__title
      span.stiker__number
      | Инфоман
    .stiker__wrap
      .stiker__inner
        .stiker__outer
          .stiker__front
            .stiker__body(style="background-image: url(assets/images/cases/2.png)")

block article
  h5
    | Кейс
    span.line
    | №02
  h2 Инфоман
  p В некоторых компаниях бывают отделы, где, кажется, ?не будет сделана ни одна задача, если как следует не наорать или не пригрозить увольнением...


block next
  .stiker
    a(href="case.html").stiker__title
      span.stiker__number
      | Невпихуемость
    .stiker__wrap
      .stiker__inner
        .stiker__outer
          .stiker__front
            .stiker__body(style="background-image: url(assets/images/cases/1.png)")
