extends pug/base

append vars
  - pageTitle = 'Невпихуемость';
  - layout.classList = ['case-detailed'];

append scripts
  script.
    readyjs.push(caseDetailedPage);

block content
  .case-detailed__prev
    block prev
      +stiker('Всегда в последний момент!', 'case-13.html', 'assets/images/cases/13.png')

  .case-detailed__warp
    .case-detailed__stiker
      block stiker
        +stiker('Невпихуемость', 'case-1.html', 'assets/images/cases/1.png')
    .case-detailed__article
      block article
        h5
          | Кейс
          span.line
          | №01
        h2 Невпихуемость
        p В некоторых компаниях бывают отделы, где, кажется, ?не будет сделана ни одна задача, если как следует не наорать или не пригрозить увольнением...
        br
        p
          a.btn(href="#") Рассказать кому-то

        br
        h3 В чем проблема
        P Может создаться впечатление, что там работают одни ленивые упыри, но не все так просто…
        p
          | Часто это - симптом
          span.marker-2 впихивания невпихуемого.
          | Если так, то есть два момента: 

        br
        P 1. Наорать недостаточно. Может создаться впечатление, что там работают одни ленивые упыри, но не все так просто…
        P Часто это - симптом впихивания невпихуемого. Если так, то есть два момента: Наорать недостаточно. 
        p  Может создаться впечатление, что там работают одни 

        br
        p
          b.marker-4 «Скорее всего всё, что было сделано командой, сопровождалось ором, но не всё, что сопровождалось ором, оказалось сделанным»
        br

        p 2. Если что-то было сделано под воздействием ора, то надо понять, что было НЕ сделано для этого. 
        P Может создаться впечатление, что там работают одни ленивые упыри, но не все так просто… Часто это - симптом впихивания невпихуемого. Если так, то есть два момента.

        br
        h3 Как с этим работать
        p Метод 1. Снижение объема впихиваемого методом отсечения лишнего
        a.youtube(href="https://www.youtube.com/watch?v=uGlzWZyVrBk")
          | Видео о законах впихуемости
          //- .youtube__play-btn
        p
          span.marker-2 Метод 2.
          | Увеличение пределов впихуемости
        +audioplayer('assets/media/audio.mp3')

  .case-detailed__next
    .case-detailed__next_title
      .case-detailed__next_title-text Читать следующий кейс
      .case-detailed__next_title-img
        img(src="assets/images/icons/arrow-next-to-bottom.svg" alt="")
    block next
      +stiker('Инфоман', 'case-2.html', 'assets/images/cases/2.png')

block side-left-bottom
  .case-detailed__prev_btn
    .case-detailed__prev_btn_icon
      span.icon.arrow-left
    .case-detailed__prev_btn_text
      | Предыдущий

block side-right-bottom
  .case-detailed__next_btn
    .case-detailed__next_btn_text
      | Следующий
    .case-detailed__next_btn_icon
      span.icon.arrow-right
