extends case

append vars
  - pageTitle = 'Руки опережают мысль';

block stiker
  .stiker
    a(href="case-5.html").stiker__title
      span.stiker__number
      | Инфоман
    .stiker__wrap
      .stiker__inner
        .stiker__outer
          .stiker__front
            .stiker__body(style="background-image: url(assets/images/cases/2.png)")

block article
  h5
    | Кейс
    span.line
    | №05
  h2 Руки опережают мысль

  p  Очень часто это бестолково-суетливое состояние люди путают с высоким ритмом работы.
   h3 В чём проблема
  span.marker-2 Как правило, руки начинают опережать мысль, когда:
  p 1.  Над человеком висит много важных задач
  p 2.  Человек искренне хочет с ними разобраться и как можно быстрее
  p 3.  По ряду причин (из-за плохого восстановления или из-за утомления) у человека закончилось мыслетопливо
  p 4.  У человека нет тормозов…
  span.marker-4 В результате человек что-то быстро-быстро делает, но потом, когда приходит момент осознания он видит, что было сделанои понимает, что это не то и ловит себя на мысли, что уже начинает это исправлять…

   h3 Как с этим работать?
  p Тренировать в себе тормоза: 
  a.YouTubeVideo(href="https://www.youtube.com/watch?v=MY_E-P9KzrI ")


block next
  .stiker
    a(href="case-6.html").stiker__title
      span.stiker__number
      | Невпихуемость
    .stiker__wrap
      .stiker__inner
        .stiker__outer
          .stiker__front
            .stiker__body(style="background-image: url(assets/images/cases/1.png)")
