extends case-layout

append vars
  - pageTitle = 'Не минуты простоя';

block stiker
    +stiker('Не минуты простоя', 'case-8.html', 'assets/images/cases/8.png')


block article
  h5
    | Кейс
    span.line
    | №08
  h2 Эффективный «простои – это неэффективно» Не минуты простоя
  br
  p 
   a.btn(href="#") Рассказать кому-то
  h3 В чём проблема
  p Эффективность неэфективности: 
  a.youtube(href="https://www.youtube.com/watch?v=XDF02KmgJFE")
  h3 Как с этим работать?
  p Учтите, что эффективность каждого отдельного человека НЕ гарантирует эффективности команды в целом. 
  span.marker-2 В каждой команде есть тот, кто является ограничением. 
  span.marker-2 Именно он должен быть эффективен, и все остальные под это подстраиваются.
  p Кто у вас ограничение?
  p Как вы под него подстраиваетесь?
  p А бывает так, что ограничение подстраивается под вас? ;)
  span.marker-1 И помните, нам нужно время на «подумать». При работе требуется думать, сомневаться, проверять. 



block next
  +stiker('Любитель срочного (Это не срочно, значит потом)', 'case-9.html', 'assets/images/cases/9.png')
