extends case-layout

append vars
  - pageTitle = 'Я креативный и разносторонне развитый';

block stiker
  +stiker('Я креативный и разносторонне развитый', 'case-10.html', 'assets/images/cases/10.png')

block prev
  +stiker('Любитель срочного (Это не срочно, значит потом)', 'case-9.html', 'assets/images/cases/9.png')

block next
  +stiker('Мыслительный процесс коровы', 'case-11.html', 'assets/images/cases/11.png')

block article
  h5
    | Кейс
    span.line
    | №10
  h2 Я креативный и разносторонне развитый
  br
  a.btn(href="#") Рассказать кому-то
  br
  h3 В чём проблема
  p Ощущали ли вы себя когда-нибудь мегакреативным и разносторонне развитым человеком? В такие моменты, как правило, у вас появляются мысли из различных областей, не обязательно имеющие непосредственное отношение к вашим рабочим обязанностям или домашним делам. 
  span.marker-4 Идей много, появляются они внезапно и часто. Вам может казаться, что этих идей — тысяча или даже больше. 
  p Скорее всего, осознание этого факта, с одной стороны, вас наверняка радует — вы чувствуете себя неординарной личностью (а других людей считаете, мягко говоря, менее креативными), но, с другой стороны, это вас расстраивает, ведь вы понимаете, что руководство явно недооценивает столь талантливого сотрудника. Оно же мыслит в узких рамках строгих критериев, неспособных всецело описать ваш внутренний мир. 
  p Кстати, вы тоже далеко не всегда можете выдать по запросу все эти гениальные идеи одним списком. Такое впечатление, что они ловко прячутся в закоулках вашего сознания.
  span.marker-2 Не претендуя на научность, я бы описал механизм этих креативных пряток следующим образом. 
  p В нашей голове есть зона, где мы осознаем мысли, и подсознание. 
  p Очередная гениальная идея неожиданно появляется в зоне осознавания, где мы ее замечаем и начинаем радоваться своей креативности. 
  p Если с этой идеей ничего не делать, она опять провалится в подсознание. Через некоторое время она может опять выскочить в зону осознаваемого, и мы ее с большой вероятностью воспримем как новую. 
  b
   span.marker-1 В итоге пяток идей, то выныривая в осознанную зону, то ныряя обратно в подсознание, могут создать весьма правдоподобную картину вашей плодовитой креативности.
  h3 Как с этим работать
  br
  p 1. Реально взглянуть на свои способности генерировать идеи помогает простое упражнение: в течение дня записывать эти идеи в единый список, по мере их появления в сознании. 
  p 2. Это позволит отловить повторы и увидеть общую картину.
