extends case

append vars
  - pageTitle = 'Инфоман';

block stiker
  .stiker
    a(href="case-2.html").stiker__title
      span.stiker__number
      | Инфоман
    .stiker__wrap
      .stiker__inner
        .stiker__outer
          .stiker__front
            .stiker__body(style="background-image: url(assets/images/cases/2.png)")

block article
  h5
    | Кейс
    span.line
    | №02
  h2 Инфоман

  p Часто именно так выглядит инфомания – неконтролируемое потребление информации из внешнего мира просто, чтобы «быть в курсе». При этом с этим нахождением в курсе дальше ничего не происходит.

  p 
   b В чём проблема

  p Есть мнение, что зависимость от получения новой информации имеет природу, схожую с наркотической зависимостью 

  p Часто инфозависимые люди самостоятельно мало, что могут сделать со своей тягой и из-за этого начинают даже придумывать своей зависимости всякого рода оправдания: а вдруг пожар (как будто они их лично тушат), я должен знать, что происходит (только непонятно кому должен, почему должен, и что потом человек делает с этим знанием).

  p В общем, часто это глубоко несчастные люди с нарушенным дисбалансом между работой и личной жизнью (см. кесйс трудоголик).


block next
  .stiker
    a(href="case-3.html").stiker__title
      span.stiker__number
      | Трудоголик
    .stiker__wrap
      .stiker__inner
        .stiker__outer
          .stiker__front
            .stiker__body(style="background-image: url(assets/images/cases/3.png)")
