extends case

append vars
  - pageTitle = 'Любитель мелочи';

block stiker
  .stiker
    a(href="case-7.html").stiker__title
      span.stiker__number
      | Инфоман
    .stiker__wrap
      .stiker__inner
        .stiker__outer
          .stiker__front
            .stiker__body(style="background-image: url(assets/images/cases/2.png)")

block article
  h5
    | Кейс
    span.line
    | №07
  h2 Любитель мелочи

  p  Серега, там проект надо начинать, большой и важный…
  p Таааак, проект… Начну лучше завтра, а то обновления на windows новые появились и картинку на рабочий стол надо найти

   h3 В чём проблема
  p Несмотря на то, что подавляющее число всех проектов, с которыми нам приходится сталкиваться, довольно просты, иногда перед нами встают задачи, сложные настолько, что вначале мы даже не представляем, как к ним подступиться. Очень часто, кстати, подобные задачи прокрастинируются по следующему сценарию: мы смотрим на задачу глазами своей обезьянки, и она говорит: «Хм… какой сложный проект, но он важный и им надо заняться. Обязательно им займусь. Вот только сейчас быстренько с мелочью разберусь, чтобы она не отвлекала». Как вы понимаете, к тому моменту, когда вы разберетесь с мелочью, мыслетоплива у вас не останется совсем и единственное, что можно будет сделать с этим проектом, — отложить работу над ним на завтра. А завтра, скорее всего, повторится то же самое.
  p Когда ваш мозг устал (а если ваш труд во многом умственный, то это наступает достаточно быстро), тогда между срочным не важным и важным не срочным он по умолчанию выберет, как вы думаете что?.. Правильно, то, где все понятно и думать не надо. И пофиг на все остальные атрибуты прочих дел, включая красные флажочки в трекере задач и значения любимых менеджерами полей типа "приоритет" и "важность".

   h3 Как с этим работать?
  p 
   span.marker-1 Экономить мыслетопливо
  a.link(href="https://cartmendum.livejournal.com/200754.html", target="_blank") Метод 1
  p
   span.marker-1 Помогать мозгу думать 
   p
  a.link(href="https://cartmendum.livejournal.com/203819.html", target="_blank") Метод 2

block next
  .stiker
    a(href="case-7.html").stiker__title
      span.stiker__number
      | Невпихуемость
    .stiker__wrap
      .stiker__inner
        .stiker__outer
          .stiker__front
            .stiker__body(style="background-image: url(assets/images/cases/1.png)")
