extends case

append vars
  - pageTitle = 'Трудоголик';

block stiker
  .stiker
    a(href="case-4.html").stiker__title
      span.stiker__number
      | Инфоман
    .stiker__wrap
      .stiker__inner
        .stiker__outer
          .stiker__front
            .stiker__body(style="background-image: url(assets/images/cases/4.png)")

block article
  h5
    | Кейс
    span.line
    | №04
  h2 Кругом срочное

  p  Нас отвлекают не срочные задачи, а задачи… которые мы ощущаем срочными.
  p Мы не видим мир таким, каким он является – древняя буддийская мысль.
  br
  a.btn(href="#") Рассказать кому-то  
  p 
   h3 В чём проблема

  p  Наши органы чувств считывают первичную информацию из окружающего мира, а потом ум наслаивает на это какие-то выводы и суждения. В и эти выводы и суждения зависят не столько от окружающего мира, сколько от нас самих.
  b
   span.marker-4 Например, посмотрите, как шум, добавленный на старые знакомые мультфильмы радикально искажает их смысл: 
  a.YouTubeVideo(href="https://www.youtube.com/watch?v=OSAt2iIAH6M")
  p Как вы думаете, на сколько смысл задач и их важности искажает рабочий шум?
  p 
   h3 Как с этим работать?
  p 1.  Минимизировать отвлечения (отключить оповещения о входящей почте, чатах, соц.сетях, мессенджерах…)
  p 2.  Максимально опираться на список задач. В особо суетливые моменты записывать в список даже самую мелочь.
  p 3.  Регулярно останавливаться на 1-2 минуты и не делать ничего. Совсем ничего… просто наблюдать за мыслями и тем долбанным цирком, что творится у нас в голове.
  span.marker-1 Подробнее этот эффект обсуждался у меня на 
   a.link(href="http://forum.mnogosdelal.ru/viewtopic.php?f=2&t=77&p=1567#p1567", target="_blank") форуме


block next
  .stiker
    a(href="case-5.html").stiker__title
      span.stiker__number
      | Невпихуемость
    .stiker__wrap
      .stiker__inner
        .stiker__outer
          .stiker__front
            .stiker__body(style="background-image: url(assets/images/cases/5.png)")
