extends case-layout

append vars
  - pageTitle = 'Инфоман';

block stiker
  +stiker('Инфоман', 'case-2.html', 'assets/images/cases/2.png')

block prev
  +stiker('Невпихуемость', 'case-1.html', 'assets/images/cases/1.png')

block next
  +stiker('Трудоголик', 'case-3.html', 'assets/images/cases/3.png')

block article
  h5
    | Кейс
    span.line
    | №02
  h2 Инфоман
  p  Часто именно так выглядит инфомания – неконтролируемое потребление информации из внешнего мира просто, чтобы «быть в курсе». При этом с этим нахождением в курсе дальше ничего не происходит.
  br
  a.btn(href="#") Рассказать кому-то
  p 
  h3 В чём проблема

  p  Есть мнение, что зависимость от получения новой информации имеет природу, схожую с наркотической зависимостью 
  b 
   span.marker-4 Часто инфозависимые  люди самостоятельно мало, что могут сделать со своей тягой и из-за этого начинают даже придумывать своей зависимости всякого рода оправдания: а вдруг пожар (как будто они их лично тушат), я должен знать, что происходит (только непонятно кому должен, почему должен, и что потом человек делает с этим знанием).

  p В общем, часто это глубоко несчастные люди с нарушенным дисбалансом между работой и личной жизнью (см. кейс "Трудоголик").
  br
  p 
   h3 Как с этим работать?
  
  p Часто инфоманию можно ослабить цифровой детоксикацией. Для этого могут помочь:
  span.marker-2 Метод 1.  Отключение оповещений. 
  a.youtube(href="https://youtu.be/fWR5SFhBUWc?t=1940")
  p 2.  Регулярные интернет-шабаты. 
   a.link(href="http://forum.mnogosdelal.ru/viewtopic.php?f=2&t=107", target="_blank") (Читать здесь)
  p 3.  Терапия чувства собственной важности.
