extends case-layout

append vars
  - pageTitle = 'Все фигачат, а толку мало';

block stiker
  +stiker('Все фигачат, а толку нет', 'case-6.html', 'assets/images/cases/6.png')

block article
  h5
    | Кейс
    span.line
    | №06
  h2 Все фигачат, а толку мало
  br 
  a.btn(href="#") Рассказать кому-то
  h3 
   span.marker-2 В чём проблема
   a.YouTubeVideo(href="https://www.youtube.com/watch?v=uGlzWZyVrBk")
   h3 Как с этим работать?
   p Простого пути нет… Нужна не просто работа на уровне каждого конкретного человека, но и работа с командой в целом. И начинать нужно с уровней руководителей. Чаще подобная херня идет сверху вниз… Изредка она сама появляется внизу и там остается, но почти никогда она не поднимается наверх.

block next
  +stiker('Любитель мелочи', 'case-7.html', 'assets/images/cases/7.png')
