extends case-layout

append vars
  - pageTitle = 'Трудоголик';

block stiker
  +stiker('Трудоголик', 'case-3.html', 'assets/images/cases/3.png')

block prev
  +stiker('Инфоман', 'case-2.html', 'assets/images/cases/2.png')

block next
  +stiker('Кругом срочное', 'case-4.html', 'assets/images/cases/4.png')

block article
  h5
    | Кейс
    span.line
    | №03
  h2 Трудоголик 

  p  Трудоголик – это человек, кому даже маленькой задачи достаточно, чтобы уработаться «в хлам».
  br
  
  p 
   h3 В чём проблема

  p  Глубоко несчастные люди, которые вошли в замкнутый цикл: много работы - некогда отдохнуть - нет мыслетоплива -> ничего не получается сделать - много работы …
  b
   span.marker-4 Очень часто человеку крайне тяжело справиться с этим состоянием без сторонней поддержки (а то и квалифицированной помощи).

  p Что ужасно, объем вложенных человекочасов никак не коррелирует с результатом.

  p Может сопровождаться обостренным цинизмом, нездоровым саркезмом и гипертрофированным пофигизмом, что в свою очередь часто заразно и негативно влияет на атмосферу в команде
  br
  p 
   h3 Как с этим работать?
  span.marker-2 Трудоголизм – очень серьезный вызов. При некоторых обстоятельствах может даже потребоваться помощь психолога, а то и психотерапевта.
  p 1.  Пройдите тест на риск трудоголизма
  a.link(href="http://links.mnogosdelal.ru/wp-content/uploads/Тест-на-степень-риска-зависимости-от-работы.xlsx", target="_blank") Скачать
