extends case

append vars
  - pageTitle = 'Любитель мелочи';

block stiker
  .stiker
    a(href="case-7.html").stiker__title
      span.stiker__number
      | Инфоман
    .stiker__wrap
      .stiker__inner
        .stiker__outer
          .stiker__front
            .stiker__body(style="background-image: url(assets/images/cases/7.png)")

block article
  h5
    | Кейс
    span.line
    | №07
  h2 Любитель мелочи

  p  Серега, там проект надо начинать, большой и важный…
  p Таааак, проект… Начну лучше завтра, а то обновления на windows новые появились и картинку на рабочий стол надо найти
  br
  a.btn(href="#") Рассказать кому-то

  h3 В чём проблема
  p Несмотря на то, что подавляющее число всех проектов, с которыми нам приходится сталкиваться, довольно просты, иногда перед нами встают задачи, сложные настолько, что вначале мы даже не представляем, как к ним подступиться. Очень часто, кстати, подобные задачи прокрастинируются по следующему сценарию: мы смотрим на задачу глазами своей обезьянки, и она говорит: «Хм… какой сложный проект, но он важный и им надо заняться. Обязательно им займусь. 
  p Вот только сейчас быстренько с мелочью разберусь, чтобы она не отвлекала». Как вы понимаете, к тому моменту, когда вы разберетесь с мелочью, мыслетоплива у вас не останется совсем и единственное, что можно будет сделать с этим проектом, — отложить работу над ним на завтра. 
  span.marker-1 А завтра, скорее всего, повторится то же самое.
  p Когда ваш мозг устал (а если ваш труд во многом умственный, то это наступает достаточно быстро), тогда между срочным не важным и важным не срочным он по умолчанию выберет, как вы думаете что?.. Правильно, то, где все понятно и думать не надо. И пофиг на все остальные атрибуты прочих дел, включая красные флажочки в трекере задач и значения любимых менеджерами полей типа "приоритет" и "важность".

   h3 Как с этим работать?
  p 
   span.marker-1  
    a.link(href="https://cartmendum.livejournal.com/200754.html", target="_blank") 1. Экономить мыслетопливо
  p
   span.marker-1 
    a.link(href="https://cartmendum.livejournal.com/203819.html", target="_blank") 2. Помогать мозгу думать 
  p 3. Создать план проекта и личный список задач, в который добавлять задачи по проекту. 
  a.YouTubeVideo(href="https://youtu.be/7oOI6H-Fz1I?t=4670")
  p 4. Использовать 
   a.link(href="https://cartmendum.livejournal.com/149563.html", target="_blank") чек-лист хорошего списка задач
  span.marker-1 5. Ну и главное. 
  p Если мы между важным и срочным склонны выбирать понятное… Тогда если перед нами есть какое-то очень важное дело, то вместо его украшения восклицательными знаками и разноцветными флажками давайте его сформулируем на столько понятно, что даже наша внутренняя обезьянка будет в состоянии его сделать.
  
block next
  .stiker
    a(href="case-8.html").stiker__title
      span.stiker__number
      | Невпихуемость
    .stiker__wrap
      .stiker__inner
        .stiker__outer
          .stiker__front
            .stiker__body(style="background-image: url(assets/images/cases/8.png)")
