extends case

append vars
  - pageTitle = 'Мыслительный процесс коровы';

block stiker
  .stiker
    a(href="case-11.html").stiker__title
      span.stiker__number
      | Инфоман
    .stiker__wrap
      .stiker__inner
        .stiker__outer
          .stiker__front
            .stiker__body(style="background-image: url(assets/images/cases/11.png)")

block article
  h5
    | Кейс
    span.line
    | №11
  h2 Мыслительный процесс коровы
  br
  a.btn(href="#") Рассказать кому-то
  br
  h3 В чём проблема
  br
  p Когда-то на просторах фейсбука я нашел картинку с одноименным названием  (справа). 
  p Она заставила меня задуматься о дефекте человеческого мышления, о котором пишут уже на протяжении нескольких тысячелетий. 
  b
   span.marker-4 Человеку свойственно жить либо в прошлом, либо в будущем, а находиться здесь и сейчас ему представляется невероятно сложным делом.
  p Как это типично для нас: мучиться бессонницей из-за мыслей о работе (не обязательно, кстати, негативных), после чего на работе испытывать сложности с выполнением даже простейших задач, так как мы не выспались, и голова не соображает.
  p Иногда этот процесс может заметно усложняться: сидя дома за ужином, мы думаем о работе, на работе думаем о предстоящей встрече, на встрече думаем о командировке, а в командировке — об ужине с семьей. 
  p При этом мысль перескакивает с одной темы на другую произвольно, как будто сама по себе. 
  p С одной стороны, в этом нет ничего страшного, но с другой — всякий раз, когда мы возвращаем свое внимание к той теме, где оно нам нужно, нам приходится затрачивать дополнительное мыслетопливо, и при определенных условиях его затраты на удержание скачущих мыслей могут стать чудовищными.
  br
  h3 Как с этим работать
  b
   span.marker-2 Находиться «здесь и сейчас» - очень непростой, но крайне полезый навык. 
  p Одно из множества возможных упражнений для его развития я узнал от одного буддийского монаха и описал 
   a.link(href="https://cartmendum.livejournal.com/240115.html ", target="_blank") здесь:

block next
  .stiker
    a(href="case-12.html").stiker__title
      span.stiker__number
      | Невпихуемость
    .stiker__wrap
      .stiker__inner
        .stiker__outer
          .stiker__front
            .stiker__body(style="background-image: url(assets/images/cases/12.png)")
