extends pug/base

append vars
  - pageTitle = 'Демо';

block content
  h2 Прелоавдер
  hr
  p
    button(onclick="runPreloader(true)") Показать
  p
    | Что бы запустить преловадер, нужно вызвать JS функцию 
    code startPageOpen(status)
    br
    | которвая принимает 
    code status
    |  параметр:
    br
    code false
    |  - покажется только если страница грузится больше 2х секунд
    br
    code ture
    |  - для принудительного показа

  h2 Стартовая страница
  hr
  p
    button(onclick="startPageOpen()") Показать
  p
    | Что бы показать стартовую, нужно вызвать JS функцию 
    code startPageOpen()


  h2 Иконки
  hr
  p
    span.icon.lang
    code span.icon.lang
  p
    span.icon.mix
    code span.icon.mix
  p
    span.icon.arrow-left
    code span.icon.arrow-left
  p
    span.icon.arrow-top
    code span.icon.arrow-top
  p
    span.icon.back
    code span.icon.back
  p
    span.icon.socal-vk
    code span.icon.socal-vk
  p
    span.icon.socal-fb
    code span.icon.socal-fb
  p
    span.icon.socal-tw
    code span.icon.socal-tw
  p
    span.icon.socal-lj
    code span.icon.socal-lj
  p
    span.icon.socal-yt
    code span.icon.socal-yt
  h2 Маркеры
  hr
  p
    code.marker-1 span.marker-1
  p
    code.marker-2 span.marker-2
  p
    code.marker-3 span.marker-3
  br
  h2 Типография
  hr
  h1
    | Заголовок 
    code h1
  h2
    | Заголовок 
    code h2
  h3
    | Заголовок 
    code h3
  h4
    | Заголовок 
    code h4
  h5
    | Заголовок 
    code h5
  h6
    | Заголовок 
    code h6
  p
    code p
    |  Параграф. Подразделение текста внутри главы, раздела. 
    br
    |  Далеко-далеко за словесными горами в стране, гласных и согласных живут рыбные тексты. Решила правилами даже, имеет текстами маленькая, всеми грамматики, большой взгляд свое lorem большого ручеек заголовок назад если ты страну! Составитель!
  p
    code b
    b Полужирное начертания шрифта
  p
    code em
    em Шрифт курсивом, придавая тексту значимость.
  p
    code i
    i Шрифт курсивом
  p
    code small
    small Уменьшает размер шрифта на единицу по отношению к обычному тексту.
  p
    code strong
    strong
      | Полужирное начертание шрифта, относится к тегам логической разметки, указывая браузеру на важность текста.
  p
    code sub
    sub
      | Используется для создания нижних индексов. Сдвигает текст ниже уровня строки, уменьшая его размер.
  p
    code sup
    sup
      | Используется для создания степеней. Сдвигает текст выше уровня строки, уменьшая его размер.
  p
    code ins
    ins Выделяет текст в новой версии документа, подчёркивая его.
  p
    code del
    del Перечёркивает текст. Используется для выделения текста, удаленного из документа.
  p
    code code
    code
      | Служит для выделения фрагментов программного кода. Отображается моноширинным шрифтом.
  p
    code kbd
    kbd
      | Отмечает фрагмент как вводимый пользователем с клавиатуры. Отображается моноширинным шрифтом.
  p
    code samp
    samp
      | Отмечает фрагмент как вводимый пользователем с клавиатуры. Отображается моноширинным шрифтом.
  p
    code pre
  pre.
    \n            Позволяет вывести текст на экран, сохранив изначальное форматирование.
                    Пробелы
                и переносы строк при этом не удаляются.
  p
  p
    code abbr
    abbr Применяется для форматирования аббревиатур.
  p
    code bdo
    bdo
      | Используется для замещения текущего направления текста, т.е. текст в теге отображается зеркально.
  p
    code blockquote
  blockquote Выделяет цитаты внутри документа, выделяя его отступами и переносами строк.
  p
  p
    code q
    q Используется для выделения коротких цитат.
  p
    code cite
    cite
      | Применяется для выделения цитат, названий произведений, сносок на другие документы.
  p
    code dfn
    dfn
      | Позволяет выделить текст как определение. Несмотря на наличие специального тега, рекомендуется выделять текст силами CSS.

  h2 Меню
  hr
  code
    | ul.menu>ul.menu__list>li.menu__item*6>a.menu__link[#]{Пункт меню $}
  ul.menu
    ul.menu__list
      li.menu__item
        a.menu__link.active(href='#')
          | Пункт меню 1 
          code .active
      li.menu__item
        a.menu__link(href='#') Пункт меню 2
      li.menu__item
        a.menu__link(href='#') Пункт меню 3
      li.menu__item
        a.menu__link(href='#') Пункт меню 4
      li.menu__item
        a.menu__link(href='#') Пункт меню 5
      li.menu__item
        a.menu__link(href='#') Пункт меню 6
