extends ../components/layout/layout

block vars
  -
    var siteTitle = 'Много сделал!'
    var pageTitle = 'Шаблон'
  -
    var html = {
      attrs: {
        lang: 'ru'
      },
      classList: []
    }
  -
    var body = {
      attrs: {},
      classList: []
    }
  -
    var layout = {
      attrs: {},
      classList: []
    }

block styles
  link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.0/normalize.min.css')

  // build:css assets/css/preloader.css
  link(rel='stylesheet', href='components/preloader/style.css')
  // endbuild
  // build:js assets/js/preloader.js
  script(type='text/javascript', src='components/preloader/script.js')
  // endbuild

  // build:css assets/fonts/fonts.css
  link(rel='stylesheet', href='assets/fonts/fonts.css')
  // endbuild

  // build:css assets/css/main.css
  link(rel='stylesheet', href='components/layout/common.css')
  link(rel='stylesheet', href='components/layout/sheme.css')
  link(rel='stylesheet', href='components/typography/style.css')
  link(rel='stylesheet', href='components/header/style.css')
  link(rel='stylesheet', href='components/menu/style.css')
  link(rel='stylesheet', href='components/icons/style.css')
  link(rel='stylesheet', href='components/markers/style.css')
  link(rel='stylesheet', href='components/start-page/style.css')
  // endbuild

block scripts
  // build:js assets/js/main.js
  script(type='text/javascript', src='components/layout/script.js')
  script(type='text/javascript', src='components/header/script.js')
  script(type='text/javascript', src='components/menu/script.js')
  script(type='text/javascript', src='components/start-page/script.js')
  // endbuild

block body-start
  include ../components/preloader/template.pug

block header
  include ../components/header/template.pug

block modal
  include ../components/start-page/template.pug

block menu
  include ../components/menu/template.pug
