.audioplayer
  audio(preload='true')
    source(src='http://www.alexkatz.me/codepen/music/interlude.mp3')
    source(src='http://www.alexkatz.me/codepen/music/interlude.ogg')
  .audioplayer__button.play
    .audioplayer__button_icon
  .audioplayer__timeline
    .audioplayer__playhead
