.header
  .header__menu-btn.menu__burger.layout__menu-toggle
    span
    span
    span
  .header__logo
    a(href='/')
      img.logo(src='assets/images/logo.png', alt='bar', srcset='assets/images/logo@2x.png 2x')
  nav.header__nav
    ul
      li
        a.header__link(href='#') О проекте
      li
        a.header__link(href='#') Все кейсы
  .header__page-title
    a.header__link(href='#') #{pageTitle}
  .header__icons
    .header__icons__wrap
      a.header__icons_lang(href='#')
        span.icon.lang
      a.header__icons_mixed(href='#')
        span.icon.mix
      a.header__icons_back(href='#')
        span.icon.arrow-left
      a.header__icons_go-back(href='#')
        span.icon.back
  .header__callback-link
    a.header__link(href='#') Обратная связь
// END: header
