.header
  .header__menu-btn.menu__burger.layout__menu-toggle
    span
    span
    span
  .header__logo
    a(href='home.html')
      img.logo(src='assets/images/logo.png', alt='bar', srcset='assets/images/logo@2x.png 2x')
  nav.header__nav
    ul
      li
        a.header__link.menu__link(href='about.html') О проекте
      li
        a.header__link.menu__link(href='home.html#cases') Все кейсы
  .header__page-title
    | #{pageTitle}
  .header__icons
    .header__icons__wrap
      a.header__icons_lang(href='#')
        span.lang RUS
      a.header__icons_mixed(href='#')
        span.icon.mix
      a.header__icons_back(href='#')
        span.icon.arrow-left
      a.header__icons_go-back(href='#top')
        span.icon.back
  .header__callback-link
    a.header__link.menu__link(href='about.html#feedback') Обратная связь
// END: header
