.layout(class=layout.classList)&attributes(layout.attrs)
  .layout__wrapper
    .layout__header
      block header
        button.layout__menu-toggle
          | Menu
        h2 Header
    .layout__menu
      .layout__container
        block menu
          h2 Menu
    .layout__body
      .layout__container
        block content
          h1 Content
    // END: layout__body
    .layout__side.layout__side_left
      .layout__side__top
        block side-left-top
          | Side top
      .layout__side__center
        block side-left-center
          .rotate
            | Side Center
            code .rotate
      .layout__side__bottom
        block side-left-bottom
          | Side bottom
    // END: layout__side-left
    .layout__side.layout__side_right
      .layout__side__top
        block side-right-top
          | Side top
      .layout__side__center
        block side-right-center
          | Side Center
      .layout__side__bottom
        block side-right-bottom
          | Side bottom
    // END: layout__side-right

    .layout__footer
      .layout__container
        block footer
          h2 footer
  // END: layout__wrapper
// END: layout
