menu.menu
  .layout__container
    ul.menu__list
      li.menu__item
        a.menu__link(href='home.html') Главная
      li.menu__item
        a.menu__link(href='home.html#cases') Кейсы
      li.menu__item
        a.menu__link(href='about.html') О проекте
      li.menu__item
        a.menu__link(href='about.html#feedback') Обратная связь
      li.menu__item
        a.menu__link(href='about.html#do-now') Мероприятия
// END: menu
