#preloader
  .preloader__stiker(style='transform: rotate(-8deg);')
    .preloader__stiker__warp.preloader__stiker--to-right
      .preloader__stiker__front
        .preloader__stiker__content
          include ../assets/images/svg/99.svg
        .preloader__stiker__back
  .preloader__stiker(style='transform: rotate(2deg);')
    .preloader__stiker__warp.preloader__stiker--to-left
      .preloader__stiker__front
        .preloader__stiker__content
          include ../assets/images/svg/66.svg
        .preloader__stiker__back
  .preloader__stiker(style='transform: rotate(-5deg);')
    .preloader__stiker__warp.preloader__stiker--to-right
      .preloader__stiker__front
        .preloader__stiker__content
          include ../assets/images/svg/33.svg
        .preloader__stiker__back
  .preloader__stiker(style='transform: rotate(5deg);')
    .preloader__stiker__warp.preloader__stiker--to-left
      .preloader__stiker__front
        .preloader__stiker__content
          include ../assets/images/svg/0.svg
        .preloader__stiker__back
script.
  runPreloader(false);
// END: preloader
