.stiker
  .stiker__layer
    .stiker__inner
      .stiker__outer
        .stiker__item
          .stiker__body
            | Item
        .stiker__back
  .stiker__arena

.stiker
  .stiker__layer
    .stiker__inner
      .stiker__outer
        .stiker__item
          .stiker__body
            | Item
        .stiker__back
  .stiker__layer
    .stiker__inner
      .stiker__outer
        .stiker__item
          .stiker__body
            | Item
        .stiker__back
  .stiker__layer
    .stiker__inner
      .stiker__outer
        .stiker__item
          .stiker__body
            | Item
        .stiker__back
  .stiker__arena


