p
  span.icon.lang
  code span.icon.lang
p
  span.icon.mix
  code span.icon.mix
p
  span.icon.arrow-left
  code span.icon.arrow-left
p
  span.icon.arrow-top
  code span.icon.arrow-top
p
  span.icon.back
  code span.icon.back
p
  span.icon.socal-vk
  code span.icon.socal-vk
p
  span.icon.socal-fb
  code span.icon.socal-fb
p
  span.icon.socal-tw
  code span.icon.socal-tw
p
  span.icon.socal-lj
  code span.icon.socal-lj
p
  span.icon.socal-yt
  code span.icon.socal-yt
