
.stiker
  .stiker__layer
    .stiker__inner
      .stiker__outer
        .stiker__item
          .stiker__body
            | Layer 1
        .stiker__back
  .stiker__layer
    .stiker__inner
      .stiker__outer
        .stiker__item
          .stiker__body
            | Layer 2
        .stiker__back
  .stiker__layer
    .stiker__inner
      .stiker__outer
        .stiker__item
          .stiker__body
            | Layer 3
        .stiker__back
  .stiker__layer
    .stiker__inner
      .stiker__outer
        .stiker__item
          .stiker__body
            | Layer 4
        .stiker__back
  .stiker__arena

.stiker
  .stiker__layer
    .stiker__inner
      .stiker__outer
        .stiker__item
          .stiker__body
            | Layer 1
        .stiker__back
  .stiker__layer
    .stiker__inner
      .stiker__outer
        .stiker__item
          .stiker__body
            | Layer 2
        .stiker__back
  .stiker__layer
    .stiker__inner
      .stiker__outer
        .stiker__item
          .stiker__body
            | Layer 3
        .stiker__back
  .stiker__arena

.stiker
  .stiker__layer
    .stiker__inner
      .stiker__outer
        .stiker__item
          .stiker__body
            | Single Layer
        .stiker__back
  .stiker__arena

.stiker
  .stiker__layer
    .stiker__inner
      .stiker__outer
        .stiker__item
          .stiker__body
            | Layer 1
        .stiker__back
  .stiker__layer
    .stiker__inner
      .stiker__outer
        .stiker__item
          .stiker__body
            | Layer 2
        .stiker__back
  .stiker__layer
    .stiker__inner
      .stiker__outer
        .stiker__item
          .stiker__body
            | Layer 3
        .stiker__back
  .stiker__layer
    .stiker__inner
      .stiker__outer
        .stiker__item
          .stiker__body
            | Layer 4
        .stiker__back
  .stiker__arena

.stiker
  .stiker__layer
    .stiker__inner
      .stiker__outer
        .stiker__item
          .stiker__body
            | Layer 1
        .stiker__back
  .stiker__layer
    .stiker__inner
      .stiker__outer
        .stiker__item
          .stiker__body
            | Layer 2
        .stiker__back
  .stiker__layer
    .stiker__inner
      .stiker__outer
        .stiker__item
          .stiker__body
            | Layer 3
        .stiker__back
  .stiker__arena

.stiker
  .stiker__layer
    .stiker__inner
      .stiker__outer
        .stiker__item
          .stiker__body
            | Single Layer
        .stiker__back
  .stiker__arena
