.stikers-group
  .stiker
    .stiker__wrap
      .stiker__inner
        .stiker__outer
          .stiker__item
            .stiker__body 
              h3 № 1
          .stiker__back
      .stiker__arena
    .stiker__text
      |  Lorem ipsum dolor.
      |  Lorem ipsum dolor.
      |  Lorem ipsum dolor.
  .stiker
    .stiker__wrap
      .stiker__inner
        .stiker__outer
          .stiker__item
            .stiker__body 
              h3 № 2
          .stiker__back
      .stiker__arena
    .stiker__text
      |  Lorem ipsum dolor.
  .stiker
    .stiker__wrap
      .stiker__inner
        .stiker__outer
          .stiker__item
            .stiker__body 
              h3 № 3
          .stiker__back
      .stiker__arena
    .stiker__text
      |  Lorem ipsum dolor.
  .stiker
    .stiker__wrap
      .stiker__inner
        .stiker__outer
          .stiker__item
            .stiker__body 
              h3 № 4
          .stiker__back
      .stiker__arena
    .stiker__text
      |  Lorem ipsum dolor.
  .stiker
    .stiker__wrap
      .stiker__inner
        .stiker__outer
          .stiker__item
            .stiker__body 
              h3 № 5
          .stiker__back
      .stiker__arena
    .stiker__text
      |  Lorem ipsum dolor.
  .stiker
    .stiker__wrap
      .stiker__inner
        .stiker__outer
          .stiker__item
            .stiker__body 
              h3 № 6
          .stiker__back
      .stiker__arena
    .stiker__text
      |  Lorem ipsum dolor.
  .stiker
    .stiker__wrap
      .stiker__inner
        .stiker__outer
          .stiker__item
            .stiker__body 
              h3 № 7
          .stiker__back
      .stiker__arena
    .stiker__text
      |  Lorem ipsum dolor.
  .stiker
    .stiker__wrap
      .stiker__inner
        .stiker__outer
          .stiker__item
            .stiker__body 
              h3 № 8
          .stiker__back
      .stiker__arena
    .stiker__text
      |  Lorem ipsum dolor.
  .stiker
    .stiker__wrap
      .stiker__inner
        .stiker__outer
          .stiker__item
            .stiker__body 
              h3 № 9
          .stiker__back
      .stiker__arena
    .stiker__text
      |  Lorem ipsum dolor.
  .stiker
    .stiker__wrap
      .stiker__inner
        .stiker__outer
          .stiker__item
            .stiker__body 
              h3 № 10
          .stiker__back
      .stiker__arena
    .stiker__text
      |  Lorem ipsum dolor.
  .stiker
    .stiker__wrap
      .stiker__inner
        .stiker__outer
          .stiker__item
            .stiker__body 
              h3 № 11
          .stiker__back
      .stiker__arena
    .stiker__text
      |  Lorem ipsum dolor.
  .stiker
    .stiker__wrap
      .stiker__inner
        .stiker__outer
          .stiker__item
            .stiker__body 
              h3 № 12
          .stiker__back
      .stiker__arena
    .stiker__text
      |  Lorem ipsum dolor.
  .stiker
    .stiker__wrap
      .stiker__inner
        .stiker__outer
          .stiker__item
            .stiker__body 
              h3 № 13
          .stiker__back
      .stiker__arena
    .stiker__text
      |  Lorem ipsum dolor.
  .stiker
    .stiker__wrap
      .stiker__inner
        .stiker__outer
          .stiker__item
            .stiker__body 
              h3 № 14
          .stiker__back
      .stiker__arena
    .stiker__text
      |  Lorem ipsum dolor.
  .stiker
    .stiker__wrap
      .stiker__inner
        .stiker__outer
          .stiker__item
            .stiker__body 
              h3 № 15
          .stiker__back
      .stiker__arena
    .stiker__text
      |  Lorem ipsum dolor.
