.stikers-group
  .stiker
    .stiker__title
      | №1. Невпихуемость
    .stiker__wrap
      .stiker__inner
        .stiker__outer
          .stiker__item
            .stiker__body
              h3 № 1
          .stiker__back
      .stiker__arena
  .stiker
    .stiker__title
      | №2. Слегка на  поворотах заносит
    .stiker__wrap
      .stiker__inner
        .stiker__outer
          .stiker__item
            .stiker__body
              h3 № 2
          .stiker__back
      .stiker__arena
  .stiker
    .stiker__title
      | №3. Трудоголизм хронический
    .stiker__wrap
      .stiker__inner
        .stiker__outer
          .stiker__item
            .stiker__body
              h3 № 3
          .stiker__back
      .stiker__arena
  .stiker
    .stiker__title
      | №4. Слегка на поворотах  заносит
    .stiker__wrap
      .stiker__inner
        .stiker__outer
          .stiker__item
            .stiker__body
              h3 № 4
          .stiker__back
      .stiker__arena
  .stiker
    .stiker__title
      | №5. Невпихуемость
    .stiker__wrap
      .stiker__inner
        .stiker__outer
          .stiker__item
            .stiker__body
              h3 № 5
          .stiker__back
      .stiker__arena
  .stiker
    .stiker__title
      | №6. Слегка на  поворотах заносит
    .stiker__wrap
      .stiker__inner
        .stiker__outer
          .stiker__item
            .stiker__body
              h3 № 6
          .stiker__back
      .stiker__arena
  .stiker
    .stiker__title
      | №7. Трудоголизм хронический
    .stiker__wrap
      .stiker__inner
        .stiker__outer
          .stiker__item
            .stiker__body
              h3 № 7
          .stiker__back
      .stiker__arena
  .stiker
    .stiker__title
      | №8. Слегка на поворотах  заносит
    .stiker__wrap
      .stiker__inner
        .stiker__outer
          .stiker__item
            .stiker__body
              h3 № 8
          .stiker__back
      .stiker__arena
  .stiker
    .stiker__title
      | №9. Невпихуемость
    .stiker__wrap
      .stiker__inner
        .stiker__outer
          .stiker__item
            .stiker__body
              h3 № 9
          .stiker__back
      .stiker__arena
  .stiker
    .stiker__title
      | №10. Слегка на  поворотах заносит
    .stiker__wrap
      .stiker__inner
        .stiker__outer
          .stiker__item
            .stiker__body
              h3 № 10
          .stiker__back
      .stiker__arena
  .stiker
    .stiker__title
      | №11. Трудоголизм хронический
    .stiker__wrap
      .stiker__inner
        .stiker__outer
          .stiker__item
            .stiker__body
              h3 № 11
          .stiker__back
      .stiker__arena
  .stiker
    .stiker__title
      | №12. Слегка на поворотах  заносит
    .stiker__wrap
      .stiker__inner
        .stiker__outer
          .stiker__item
            .stiker__body
              h3 № 12
          .stiker__back
      .stiker__arena
  .stiker
    .stiker__title
      | №13. Невпихуемость
    .stiker__wrap
      .stiker__inner
        .stiker__outer
          .stiker__item
            .stiker__body
              h3 № 13
          .stiker__back
      .stiker__arena
  .stiker
    .stiker__title
      | №14. Слегка на  поворотах заносит
    .stiker__wrap
      .stiker__inner
        .stiker__outer
          .stiker__item
            .stiker__body
              h3 № 14
          .stiker__back
      .stiker__arena
  .stiker
    .stiker__title
      | №15. Трудоголизм хронический
    .stiker__wrap
      .stiker__inner
        .stiker__outer
          .stiker__item
            .stiker__body
              h3 № 15
          .stiker__back
      .stiker__arena
