.stikers-group
  //- .stiker*15>a(href="case.html").stiker__title{№$. Заголовок кейса}+.stiker__wrap(.stiker__inner>.stiker__outer>.stiker__item>(.stiker__body>h3{ № $})^.stiker__back)+.stiker__arena
  .stiker
    a(href="case-1.html").stiker__title
      span.stiker__number
      | Невпихуемость
    .stiker__wrap
      .stiker__inner
        .stiker__outer
          .stiker__front
            .stiker__body(style="background-image: url(assets/images/cases/1.png)")
          .stiker__back
      a.stiker__link(href="case-1.html")
      .stiker__arena
  .stiker
    a(href="case-2.html").stiker__title
      span.stiker__number
      | Инфоман
    .stiker__wrap
      .stiker__inner
        .stiker__outer
          .stiker__front
            .stiker__body(style="background-image: url(assets/images/cases/2.png)")
          .stiker__back
      a.stiker__link(href="case-2.html")
      .stiker__arena
  .stiker
    a(href="case-3.html").stiker__title
      span.stiker__number
      | Трудоголик
    .stiker__wrap
      .stiker__inner
        .stiker__outer
          .stiker__front
            .stiker__body(style="background-image: url(assets/images/cases/3.png)")
          .stiker__back
      a.stiker__link(href="case-3.html")
      .stiker__arena
  .stiker
    a(href="case-4.html").stiker__title
      span.stiker__number
      | Кругом срочное
    .stiker__wrap
      .stiker__inner
        .stiker__outer
          .stiker__front
            .stiker__body(style="background-image: url(assets/images/cases/4.png)")
          .stiker__back
      a.stiker__link(href="case-4.html")
      .stiker__arena
  .stiker
    a(href="case-5.html").stiker__title
      span.stiker__number
      | Руки опережают мысль
    .stiker__wrap
      .stiker__inner
        .stiker__outer
          .stiker__front
            .stiker__body(style="background-image: url(assets/images/cases/5.png)")
          .stiker__back
      a.stiker__link(href="case-5.html")
      .stiker__arena
  .stiker
    a(href="case-6.html").stiker__title
      span.stiker__number
      | Все фигачат, а толку нет
    .stiker__wrap
      .stiker__inner
        .stiker__outer
          .stiker__front
            .stiker__body(style="background-image: url(assets/images/cases/6.png)")
          .stiker__back
      a.stiker__link(href="case-6.html")
      .stiker__arena
  .stiker
    a(href="case-7.html").stiker__title
      span.stiker__number
      | Любитель мелочи
    .stiker__wrap
      .stiker__inner
        .stiker__outer
          .stiker__front
            .stiker__body(style="background-image: url(assets/images/cases/7.png)")
          .stiker__back
      a.stiker__link(href="case-7.html")
      .stiker__arena
  .stiker
    a(href="case-8.html").stiker__title
      span.stiker__number
      | Эффективный «простои – это неэффективно» Не минуты простоя
    .stiker__wrap
      .stiker__inner
        .stiker__outer
          .stiker__front
            .stiker__body(style="background-image: url(assets/images/cases/8.png)")
          .stiker__back
      a.stiker__link(href="case-8.html")
      .stiker__arena
  .stiker
    a(href="case-9.html").stiker__title
      span.stiker__number
      | Любитель срочного (Это не срочно, значит потом)
    .stiker__wrap
      .stiker__inner
        .stiker__outer
          .stiker__front
            .stiker__body(style="background-image: url(assets/images/cases/9.png)")
          .stiker__back
      a.stiker__link(href="case-9.html")
      .stiker__arena
  .stiker
    a(href="case-10.html").stiker__title
      span.stiker__number
      | Я креативный и разносторонне развитый
    .stiker__wrap
      .stiker__inner
        .stiker__outer
          .stiker__front
            .stiker__body(style="background-image: url(assets/images/cases/10.png)")
          .stiker__back
      a.stiker__link(href="case-10.html")
      .stiker__arena
  .stiker
    a(href="case-11.html").stiker__title
      span.stiker__number
      | Мыслительный процесс коровы
    .stiker__wrap
      .stiker__inner
        .stiker__outer
          .stiker__front
            .stiker__body(style="background-image: url(assets/images/cases/11.png)")
          .stiker__back
      a.stiker__link(href="case-11.html")
      .stiker__arena
  .stiker
    a(href="case-12.html").stiker__title
      span.stiker__number
      | Сжатие/разрежение сроков
    .stiker__wrap
      .stiker__inner
        .stiker__outer
          .stiker__front
            .stiker__body(style="background-image: url(assets/images/cases/12.png)")
          .stiker__back
      a.stiker__link(href="case-12.html")
      .stiker__arena
  .stiker
    a(href="case-13.html").stiker__title
      span.stiker__number
      | Всегда в последний момент!
    .stiker__wrap
      .stiker__inner
        .stiker__outer
          .stiker__front
            .stiker__body(style="background-image: url(assets/images/cases/13.png)")
          .stiker__back
      a.stiker__link(href="case-13.html")
      .stiker__arena
  .stikers-group__controls
    .stikers-group__prev
    .stikers-group__next
    .stikers-group__dots
