.stikers-group
  //- .stiker*15>a(href="case-detailed.html").stiker__title{№$. Заголовок кейса}+.stiker__wrap(.stiker__inner>.stiker__outer>.stiker__item>(.stiker__body>h3{ № $})^.stiker__back)+.stiker__arena
  .stiker
    a(href="case-detailed.html").stiker__title
      span.stiker__number
      | Невпихуемость
    .stiker__wrap
      .stiker__inner
        .stiker__outer
          .stiker__front
            .stiker__body(style="background-image: url(assets/images/cases/1.png)")
          .stiker__back
      a.stiker__link(href="case-detailed.html")
      .stiker__arena
  .stiker
    a(href="case-detailed.html").stiker__title
      span.stiker__number
      | Инфоман
    .stiker__wrap
      .stiker__inner
        .stiker__outer
          .stiker__front
            .stiker__body(style="background-image: url(assets/images/cases/2.png)")
          .stiker__back
      a.stiker__link(href="case-detailed.html")
      .stiker__arena
  .stikers-group__controls
    .stikers-group__prev
    .stikers-group__next
    .stikers-group__dots
