.stikers-group
  +stiker('Невпихуемость', 'case-1.html', 'assets/images/cases/1.png')
  +stiker('Инфоман', 'case-2.html', 'assets/images/cases/2.png')
  +stiker('Трудоголик', 'case-3.html', 'assets/images/cases/3.png')
  +stiker('Кругом срочное', 'case-4.html', 'assets/images/cases/4.png')
  +stiker('Руки опережают мысль', 'case-5.html', 'assets/images/cases/5.png')
  +stiker('Все фигачат, а толку нет', 'case-6.html', 'assets/images/cases/6.png')
  +stiker('Любитель мелочи', 'case-7.html', 'assets/images/cases/7.png')
  +stiker('Не минуты простоя', 'case-8.html', 'assets/images/cases/8.png')
  +stiker('Любитель срочного (Это не срочно, значит потом)', 'case-9.html', 'assets/images/cases/9.png')
  +stiker('Я креативный и разносторонне развитый', 'case-10.html', 'assets/images/cases/10.png')
  +stiker('Мыслительный процесс коровы', 'case-11.html', 'assets/images/cases/11.png')
  +stiker('Сжатие/разрежение сроков', 'case-12.html', 'assets/images/cases/12.png')
  +stiker('Всегда в последний момент!', 'case-12.html', 'assets/images/cases/12.png')
  .stikers-group__controls
    .stikers-group__prev
    .stikers-group__next
    .stikers-group__dots
