extends case-layout

append vars
  - pageTitle = 'Невпихуемость';

block stiker
  +stiker('Невпихуемость', 'case-1.html', 'images/cases/1.png')

block prev
  +stiker('Всегда в последний момент!', 'case-13.html', 'images/cases/13.png')

block next
  +stiker('Инфоман', 'case-2.html', 'images/cases/2.png')

block article
  h5
    | Кейс
    span.line
    | №01
  h2 Невпихуемость
  p В некоторых компаниях бывают отделы, где, кажется, ?не будет сделана ни одна задача, если как следует не наорать или не пригрозить увольнением...
  br
  h3 В чем проблема
  P Может создаться впечатление, что там работают одни ленивые упыри, но не все так просто…
  p
    | Часто это - симптом 
    span.marker-2 впихивания невпихуемого.
    | Если так, то есть два момента: 

  br
  P 1. Наорать недостаточно. Может создаться впечатление, что там работают одни ленивые упыри, но не все так просто…
  P Часто это - симптом впихивания невпихуемого. Если так, то есть два момента: Наорать недостаточно. 
  p  Может создаться впечатление, что там работают одни 

  br
  p
    b.marker-4 «Скорее всего всё, что было сделано командой, сопровождалось ором, но не всё, что сопровождалось ором, оказалось сделанным»
  br

  p 2. Если что-то было сделано под воздействием ора, то надо понять, что было НЕ сделано для этого. 
  P Может создаться впечатление, что там работают одни ленивые упыри, но не все так просто… Часто это - симптом впихивания невпихуемого. Если так, то есть два момента.

  br
  h3 Как с этим работать
  p Метод 1. Снижение объема впихиваемого методом отсечения лишнего
  a.youtube(href="https://youtu.be/uGlzWZyVrBk")
    | Видео о законах впихуемости
