.share-block
{
    display: flex;

    border-top: .06rem solid #d8d8d8;
    background: #fff;

    align-items: center;
    justify-content: center;

    @include respond-to(medium)
    {
        flex-direction: column;

        border-top: none;

        margin-bottom: 1rem;
    }

    &__title
    {
        display: flex;

        text-align: right;

        align-items: center;

        &:after
        {
            display: inline-block;

            width: 5rem;
            height: 2rem;
            margin: 1.5rem 1rem;

            content: '';

            background: url('../images/icons/share-arrow.svg') no-repeat;
            background-position: center center;
            background-size: contain;

            @include respond-to(medium)
            {
                display: none;
            }
            @include respond-from(medium)
            {
                font-size: 0.9rem;
            }
        }
    }

    &__socals
    {
        display: flex;
        justify-content: space-around;
        text-align: left;
        > a 
        {
            margin: 0.5rem;
        }
        @include respond-to('medium')
        {
            width: 100%;
        }
    }
}
